In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head(3)

         date          description         account  debit  credit
0  2026-01-02  Owner invested cash            Cash  50000       0
1  2026-01-02  Owner invested cash  Owner's Equity      0   50000
2  2026-01-05     Bought inventory       Inventory  15000       0

# Do total debits equal total credits? Prove it.

In [5]:
debit = df['debit'].sum()
credit = df['credit'].sum()


if debit == credit:
    print(f'Total debit {debit} and credit are both equal {credit}')
else:
    print(f'they are not equal debit was {debit} and credit {credit}')

Total debit 123000 and credit are both equal 123000

# Build a Trial Balance showing each account's total debit, total credit, and balance.

In [10]:
trial_balance = df.groupby('account')[['debit','credit']].sum().reset_index()
trial_balance['balance'] = trial_balance['debit'] - trial_balance['credit']

print(trial_balance)

                account  debit  credit  balance
0      Accounts Payable   1000    2000    -1000
1   Accounts Receivable   6000    4000     2000
2                  COGS  15500       0    15500
3                  Cash  74000   25500    48500
4             Inventory  15000   15500     -500
5      Owner's Drawings   5000       0     5000
6        Owner's Equity      0   50000   -50000
7          Rent Expense   3000       0     3000
8         Sales Revenue      0   26000   -26000
9              Supplies   2000       0     2000
10    Utilities Expense   1500       0     1500

# What is the ending Cash balance as of January 31?

#   **.** What is the total Sales Revenue for January?

In [16]:
total_sale_revenue = df[df['account'] == 'Sales Revenue'].agg({ "credit":"sum"})
total_sale_revenue

print(f'Total Sales Revenue for our january was {total_sale_revenue}')

Total Sales Revenue for our january was credit    26000
dtype: int64

# What is the total Cost of Goods Sold for January?

In [ ]:
#wrong 
#st_of_goods_sold  = [( df['date'] <='2026-01-31') &  (df['credit'] > 0) & (df['description'] == 'Cost of Goods sold' )]['credit'].sum()

# Option A: Filter by account name (RECOMMENDED - simpler)
#   cost_of_goods_sold = df.loc[df['account'] == 'COGS', 'debit'].sum()
# Option B: Filter by description (fix the case + use debit)
#   cost_of_goods_sold = df.loc[
#   df['description'] == 'Cost of goods sold',
#   'debit'
#   ].sum()



cost_of_goods_sold = df[df['account'] == 'COGS']['debit'].sum()
cost_of_goods_sold = int(cost_of_goods_sold)

print(f'the total cost of goods sold in januaray was {cost_of_goods_sold}')

the total cost of goods sold in januaray was 15500

**6.** Calculate the Gross Profit.

In [42]:
sale_revenue =  df[df['account'] == 'Sales Revenue']['credit'].sum()
cogs =   df[df['account'] == 'COGS']['debit'].sum()

gross_profit = sale_revenue - cogs

print(f'Ang ating gross profit ay {gross_profit}')

Ang ating gross profit ay 10500

# **7.** Calculate the total Operating Expenses.

In [ ]:
operating_expense_list  =['Paid electricity bill','Paid rent']

total = []


if operating_expense_list in df['description'].values:
    total.append(df['id'] == i)['credit']
    i+

print(total)

ValueError: operands could not be broadcast together with shapes (28,) (2,)