In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('student_performance.csv')

In [3]:
average_student_age = df['Age'].mean()
print(f'Average student age: {average_student_age}')

Average student age: 17.5

In [ ]:
attendance_check = df.groupby('Name')['Attendance'].idxmax()
print(attendance_check)

Name
Alice       0
Bob         1
Charlie     2
David       3
Eve         4
Frank       5
Grace       6
Hannah      7
Ivy         8
Jack        9
Kevin      10
Liam       11
Mia        12
Noah       13
Olivia     14
Peter      15
Quinn      16
Ryan       17
Sophia     18
Tom        19
Name: Attendance, dtype: int64

C:\Users\francis\AppData\Local\Temp\ipykernel_25540\1609333114.py:1: FutureWarning: The 'axis' keyword in SeriesGroupBy.idxmax is deprecated and will be removed in a future version. Call without passing 'axis' instead.
  attendance_check = df.groupby('Name')['Attendance'].idxmax(0)

In [7]:
attendance_sum = df.groupby('Name')['Attendance'].sum()


top_name = attendance_sum.idxmax()
top_value = attendance_sum.max()

print(top_name,top_value)

Eve 98

In [8]:
attendance_sum = df.groupby('Name')['Attendance'].sum()

if not attendance_sum.empty:
    print(attendance_sum.idxmax(),attendance_sum.max())
else:
    print('No Attendance data')

Eve 98

In [9]:
study_correlation = df['StudyHours'].corr(df['MathScore'])

print(study_correlation)

0.9652779670993296

In [13]:
df['AverageGrade'] = df[['MathScore','ScienceScore','EnglishScore']].mean(axis=1)

print(df['AverageGrade'])

0     88.333333
1     71.666667
2     85.000000
3     60.000000
4     95.000000
5     77.666667
6     85.000000
7     67.666667
8     91.000000
9     72.333333
10    86.333333
11    67.333333
12    83.333333
13    55.000000
14    93.333333
15    79.000000
16    87.666667
17    64.666667
18    89.333333
19    72.333333
Name: AverageGrade, dtype: float64

In [14]:
average_grade = df[['MathScore', 'ScienceScore', 'EnglishScore']].mean()
print(average_grade)

MathScore       78.35
ScienceScore    79.20
EnglishScore    78.25
dtype: float64