In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Carol', 'Dave', 'Eve'],
    'coffee_cups': [2, 4, 3, 5, 1],
    'hours_worked': [8, 9, 7, 10, 6],
    'sales': [500, 600, 450, 700, 400],
    'breaks': [2, 1, 3, 1, 4]
})

In [5]:
corr = df[['coffee_cups','hours_worked','sales','breaks']].corr()
print(corr)

              coffee_cups  hours_worked     sales    breaks
coffee_cups      1.000000      0.900000  0.919145 -0.848875
hours_worked     0.900000      1.000000  0.984798 -0.970143
sales            0.919145      0.984798  1.000000 -0.923548
breaks          -0.848875     -0.970143 -0.923548  1.000000

In [7]:
corr_cuffee_worked = df[['coffee_cups','hours_worked']].corr()
corr_cuffee_worked

              coffee_cups  hours_worked
coffee_cups           1.0           0.9
hours_worked          0.9           1.0

In [9]:
from sklearn.linear_model import LinearRegression

X = df[['coffee_cups']]
y = df['sales']

model = LinearRegression()
model.fit(X,y)

print("Sales increase per coffee cup:", model.coef_[0])
print("Base sales:", model.intercept_)

Sales increase per coffee cup: 69.99999999999999
Base sales: 320.00000000000006