In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

---

## Section 1: Pandas (Data Manipulation)

**1. Load the dataset `ecommerce_sales.csv` into a Pandas DataFrame.**

In [24]:
df = pd.read_csv('ecommerce_sales.csv')

**2. Display the first 5 rows and the last 5 rows of the dataset.**

In [25]:
df.head(5)

,Order_ID,Date,Category,Product,Price,Quantity,Payment_Method,City
0,1001,2023-05-06,Home,Chair,41.76,3,PayPal,Houston
1,1002,2023-01-16,Home,Chair,307.53,1,PayPal,Los Angeles
2,1003,2023-08-03,Home,Desk,366.53,5,Cash,Houston
3,1004,2023-05-23,Electronics,Headphones,1062.30,3,PayPal,Chicago
4,1005,2023-11-06,Electronics,Keyboard,190.24,3,Credit Card,Phoenix

**3. Check for missing values in the dataset and report the count for each column.**

In [26]:
df.isnull().sum()

Order_ID           0
Date               0
Category           0
Product            0
Price             24
Quantity           0
Payment_Method     0
City              21
dtype: int64

**4. Drop any rows that have missing values.**

In [27]:
df.dropna()

,Order_ID,Date,Category,Product,Price,Quantity,Payment_Method,City
0,1001,2023-05-06,Home,Chair,41.76,3,PayPal,Houston
1,1002,2023-01-16,Home,Chair,307.53,1,PayPal,Los Angeles
2,1003,2023-08-03,Home,Desk,366.53,5,Cash,Houston
3,1004,2023-05-23,Electronics,Headphones,1062.30,3,PayPal,Chicago
4,1005,2023-11-06,Electronics,Keyboard,190.24,3,Credit Card,Phoenix
...,...,...,...,...,...,...,...,...
495,1496,2023-08-30,Clothing,T-Shirt,58.99,5,PayPal,San Diego
496,1497,2023-11-16,Electronics,Monitor,1239.66,2,PayPal,Phoenix
497,1498,2023-07-13,Clothing,Hat,126.31,2,PayPal,San Antonio
498,1499,2023-02-19,Home,Bookshelf,418.46,5,Cash,Chicago
499,1500,2023-09-04,Home,Rug,383.62,1,Credit Card,Chicago

**5. Convert the 'Date' column to a datetime object.**

**6. Create a new column `Total_Sales` which is `Price` * `Quantity`.**

In [28]:
df['Total_Sales'] = df['Quantity'] * df['Price']
print(df['Total_Sales'])

0       125.28
1       307.53
2      1832.65
3      3186.90
4       570.72
        ...
495     294.95
496    2479.32
497     252.62
498    2092.30
499     383.62
Name: Total_Sales, Length: 500, dtype: float64

**7. Calculate the total revenue (sum of `Total_Sales`) for the entire dataset.**

In [29]:
total_sales = df['Total_Sales'].sum()
print("Total Sales:",total_sales)

Total Sales: 606520.56

**8. Find the average price of products sold.**

In [30]:
average_product_sold  = df.groupby('Product')['Total_Sales'].mean()
print(average_product_sold)

Product
Bookshelf      655.690645
Chair          586.458485
Desk           732.968684
Hat            292.676786
Headphones    2575.684062
Jacket         367.622258
Jeans          373.104815
Keyboard      2689.696552
Lamp           982.931613
Laptop        3037.818966
Monitor       2531.823103
Mouse         2883.192308
Rug            731.121429
Sneakers       262.192759
T-Shirt        322.063143
Name: Total_Sales, dtype: float64

**9. What is the total quantity sold for each Category?**

In [31]:
total_quantity_sold = df.groupby('Category')['Quantity'].sum()

print(total_quantity_sold)

Category
Clothing       472
Electronics    519
Home           500
Name: Quantity, dtype: int64

**10. Which City has the highest total sales?**

In [32]:
city_with_highest_sales = df.groupby('City')['Total_Sales'].sum()
print(city_with_highest_sales)

City
Chicago         69234.46
Houston         69510.29
Los Angeles     67416.28
New York        76418.53
Philadelphia    84014.38
Phoenix         67930.49
San Antonio     51036.36
San Diego       90074.03
Name: Total_Sales, dtype: float64

**11. Count the number of unique products in the dataset.**

In [33]:
count_unique_product = df['Product'].nunique()
print(count_unique_product)

15

**12. Filter the data to show only sales for 'Electronics'.**

In [34]:
eletronics = df[df['Category'] == 'Electronics']

print(eletronics.head())

    Order_ID        Date     Category     Product    Price  Quantity  \
3       1004  2023-05-23  Electronics  Headphones  1062.30         3
4       1005  2023-11-06  Electronics    Keyboard   190.24         3
11      1012  2023-01-25  Electronics  Headphones   788.81         1
13      1014  2023-05-17  Electronics      Laptop  1038.48         5
14      1015  2023-09-17  Electronics       Mouse  1459.24         2

   Payment_Method          City  Total_Sales
3          PayPal       Chicago      3186.90
4     Credit Card       Phoenix       570.72
11         PayPal   Los Angeles       788.81
13    Credit Card  Philadelphia      5192.40
14     Debit Card   Los Angeles      2918.48

**13. Find the top 5 most expensive products sold (based on Price).**

In [35]:
most_expensive_product = df.loc[df['Price'].idxmax()]

print(most_expensive_product)

Order_ID                 1230
Date               2023-09-11
Category          Electronics
Product                Laptop
Price                  1495.9
Quantity                    4
Payment_Method     Debit Card
City                      NaN
Total_Sales            5983.6
Name: 229, dtype: object

**14. Calculate the total sales per Payment Method.**

In [36]:
total_sale_per_method = df.groupby('Payment_Method')['Total_Sales'].sum()

print(total_sale_per_method)

Payment_Method
Cash           140162.46
Credit Card    135428.19
Debit Card     159405.60
PayPal         171524.31
Name: Total_Sales, dtype: float64

**15. Create a new column `Month` extracted from the `Date` column.**

In [37]:
df['Date'] = pd.to_datetime(df['Date'])

df['Month'] = df['Date'].dt.month_name()

print(df['Month'].value_counts())

Month
December     53
January      49
May          48
September    46
March        42
June         42
November     40
August       40
April        39
July         34
October      34
February     33
Name: count, dtype: int64

**16. What is the total sales for each month?**

In [38]:
total_sale_per_month = df.groupby('Month')['Total_Sales'].sum()

print(total_sale_per_month)

Month
April        36537.82
August       59722.49
December     76143.90
February     38098.00
January      51900.46
July         47775.45
June         43003.36
March        54719.71
May          69107.47
November     44780.01
October      34483.16
September    50248.73
Name: Total_Sales, dtype: float64

---

## Section 2: Numpy (Numerical Operations)

**17. Convert the `Price` column to a NumPy array and calculate the mean and median.**

In [39]:
price_array = df['Price'].to_numpy()

print(price_array)

mean_price = np.mean(price_array)
median_price = np.median(price_array)

print(mean_price)
print(median_price)

[  41.76  307.53  366.53 1062.3   190.24     nan  173.96   57.71   68.59
   68.19   97.15  788.81   31.43 1038.48 1459.24  592.18   63.1    90.34
 1145.13     nan   33.38 1020.02   36.98   58.49   70.14 1393.23  599.51
  102.75  266.34  635.47  469.31  244.9   187.99  317.49 1126.5   267.54
  134.68  286.43  354.61     nan  164.4    55.92   70.15   40.76  235.11
 1392.08   76.5   120.16   57.83  403.06  167.32 1476.71  262.36  248.34
  309.86   66.65  390.02  143.13     nan  116.88  537.39  121.59   78.92
  170.28  384.49 1424.25  395.56  189.46  408.6    35.95   98.39  181.48
  188.11  178.46  156.47 1053.09  185.47  153.72  163.01   89.49  882.39
  167.98  198.91  174.83 1007.62  250.86  464.24 1248.62   42.38  107.8
  476.87  199.45  174.39  243.77  339.1   156.8  1461.06 1488.77  225.28
  380.76   70.91  157.32  174.08  109.16   37.21  144.69   26.46  693.33
   46.2   142.96  181.8   330.3    39.2   159.01 1212.8   325.28  523.74
  110.32  104.3   162.32     nan  460.17   45.16  707.78  471.35  196.57
  182.93  347.55  160.32  569.45  277.26  474.35   96.73  232.98  128.98
  168.94  143.63  411.53  194.31  135.4      nan   83.18 1131.86  395.11
  444.55     nan   33.61   51.63   77.18   80.24  903.86  790.2   141.05
  113.26  149.02  719.53  911.42  927.26  110.82  201.03   60.98  186.68
   90.61   73.92 1424.12 1167.77 1223.11   71.29 1033.54  167.04  364.36
  420.59     nan  401.95  240.84  278.05  244.84  561.58  268.44   65.66
 1116.02 1472.19   72.82  149.06  683.58  186.38  475.96  144.16   65.27
   42.72  349.16  136.92  153.04   42.07  147.72  403.04   84.96  199.93
  101.    420.75 1423.85  132.5  1094.92  336.03  256.98  103.6    43.54
   45.36 1403.94   24.17  767.6   389.01   64.56  120.41 1215.75 1486.39
  530.3   301.49     nan 1051.23  499.12  286.75  189.47  165.26  111.
  468.52  329.83 1448.55   71.37 1495.9    80.43  158.23 1196.61  112.75
  428.14  997.84  354.44   87.25  697.78  828.16  181.8   720.45   51.29
   71.68   34.44  372.09   88.27   45.14  916.79  780.65  133.89  195.01
  736.6   115.4    36.64 1216.74   58.13  119.37   37.75   73.52  170.01
  246.59  276.25 1075.4      nan   38.06  148.64  495.41   56.37  195.92
  157.41  901.2    79.71     nan   61.06  478.3      nan   38.4      nan
 1362.55   46.27  189.96  171.49   93.98  152.28   40.5   236.07   65.48
  281.15   81.4   484.4   292.26  100.85  555.08  179.89  467.06     nan
  908.69  197.54  278.03   51.05  591.29  107.6   131.49  336.94  869.83
  153.65  168.07 1318.47  354.32 1217.89   68.12 1307.22  759.72  797.64
 1109.85  109.05   28.27  199.22  413.06  231.74  274.14  105.99   88.89
  236.85 1350.06  451.6   113.19  609.53 1298.18  901.68   71.57  160.41
  175.78     nan  769.8   158.86  263.19 1171.33  116.67  135.52 1026.32
     nan  377.6      nan  476.97     nan  359.4   126.54   77.25  203.2
  497.05   48.96  427.24  197.77 1244.33 1358.62 1389.99     nan  773.39
  411.26  110.43  165.56  155.27  393.     96.79  367.27 1089.56 1297.97
 1198.17  134.92 1425.74  330.63     nan  194.73  764.97  106.45  296.65
   97.64 1060.94  424.73  255.75   75.5  1333.96  868.16   60.95   91.06
 1222.27  422.03  113.54  386.44   88.95  349.98  181.47  487.07  314.34
  176.09 1325.03  185.25  400.81     nan  432.84  252.83   96.29  216.66
 1483.12 1217.87  183.24  330.01  168.08  134.46  104.7   279.02   97.32
   32.22  941.   1427.6  1055.61 1244.57 1494.4    61.12 1320.99 1050.14
 1058.03  226.85  339.64  769.71 1261.09  102.22  572.31 1011.86  205.13
  163.98 1371.28  435.41  999.71  233.44   35.47   63.36  164.23   78.24
  448.35  531.36   31.03  253.65     nan     nan  424.24  129.11  626.91
  170.49  462.96  303.92  260.72 1051.36  436.48   94.98  184.07     nan
   48.97  915.48  811.82  370.74  253.18  461.75  117.24  180.55  436.53
   41.16  300.23   90.11  198.12   91.12  481.26   57.29  129.52  312.97
 1102.1    32.57  101.63  451.19  119.3   153.72  455.96   92.92 1042.03
  375.88   62.12 1471.86   85.75  167.1   161.78  651.19   40.55   56.28
   58.99 1239.66  126.31  418.46  383.62]
nan
nan

**18. Create a NumPy array of `Quantity` and find the standard deviation.**

In [40]:
array_quantity = df['Quantity']

quantity_array_deviation = array_quantity.std()

print(quantity_array_deviation)

1.3890770569483468

**19. Find the maximum and minimum price using NumPy functions.**

In [41]:
print(df['Price'].dtype)

float64

In [42]:
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')

In [43]:
price_array = df['Price'].dropna().to_numpy()

print(price_array)

[  41.76  307.53  366.53 1062.3   190.24  173.96   57.71   68.59   68.19
   97.15  788.81   31.43 1038.48 1459.24  592.18   63.1    90.34 1145.13
   33.38 1020.02   36.98   58.49   70.14 1393.23  599.51  102.75  266.34
  635.47  469.31  244.9   187.99  317.49 1126.5   267.54  134.68  286.43
  354.61  164.4    55.92   70.15   40.76  235.11 1392.08   76.5   120.16
   57.83  403.06  167.32 1476.71  262.36  248.34  309.86   66.65  390.02
  143.13  116.88  537.39  121.59   78.92  170.28  384.49 1424.25  395.56
  189.46  408.6    35.95   98.39  181.48  188.11  178.46  156.47 1053.09
  185.47  153.72  163.01   89.49  882.39  167.98  198.91  174.83 1007.62
  250.86  464.24 1248.62   42.38  107.8   476.87  199.45  174.39  243.77
  339.1   156.8  1461.06 1488.77  225.28  380.76   70.91  157.32  174.08
  109.16   37.21  144.69   26.46  693.33   46.2   142.96  181.8   330.3
   39.2   159.01 1212.8   325.28  523.74  110.32  104.3   162.32  460.17
   45.16  707.78  471.35  196.57  182.93  347.55  160.32  569.45  277.26
  474.35   96.73  232.98  128.98  168.94  143.63  411.53  194.31  135.4
   83.18 1131.86  395.11  444.55   33.61   51.63   77.18   80.24  903.86
  790.2   141.05  113.26  149.02  719.53  911.42  927.26  110.82  201.03
   60.98  186.68   90.61   73.92 1424.12 1167.77 1223.11   71.29 1033.54
  167.04  364.36  420.59  401.95  240.84  278.05  244.84  561.58  268.44
   65.66 1116.02 1472.19   72.82  149.06  683.58  186.38  475.96  144.16
   65.27   42.72  349.16  136.92  153.04   42.07  147.72  403.04   84.96
  199.93  101.    420.75 1423.85  132.5  1094.92  336.03  256.98  103.6
   43.54   45.36 1403.94   24.17  767.6   389.01   64.56  120.41 1215.75
 1486.39  530.3   301.49 1051.23  499.12  286.75  189.47  165.26  111.
  468.52  329.83 1448.55   71.37 1495.9    80.43  158.23 1196.61  112.75
  428.14  997.84  354.44   87.25  697.78  828.16  181.8   720.45   51.29
   71.68   34.44  372.09   88.27   45.14  916.79  780.65  133.89  195.01
  736.6   115.4    36.64 1216.74   58.13  119.37   37.75   73.52  170.01
  246.59  276.25 1075.4    38.06  148.64  495.41   56.37  195.92  157.41
  901.2    79.71   61.06  478.3    38.4  1362.55   46.27  189.96  171.49
   93.98  152.28   40.5   236.07   65.48  281.15   81.4   484.4   292.26
  100.85  555.08  179.89  467.06  908.69  197.54  278.03   51.05  591.29
  107.6   131.49  336.94  869.83  153.65  168.07 1318.47  354.32 1217.89
   68.12 1307.22  759.72  797.64 1109.85  109.05   28.27  199.22  413.06
  231.74  274.14  105.99   88.89  236.85 1350.06  451.6   113.19  609.53
 1298.18  901.68   71.57  160.41  175.78  769.8   158.86  263.19 1171.33
  116.67  135.52 1026.32  377.6   476.97  359.4   126.54   77.25  203.2
  497.05   48.96  427.24  197.77 1244.33 1358.62 1389.99  773.39  411.26
  110.43  165.56  155.27  393.     96.79  367.27 1089.56 1297.97 1198.17
  134.92 1425.74  330.63  194.73  764.97  106.45  296.65   97.64 1060.94
  424.73  255.75   75.5  1333.96  868.16   60.95   91.06 1222.27  422.03
  113.54  386.44   88.95  349.98  181.47  487.07  314.34  176.09 1325.03
  185.25  400.81  432.84  252.83   96.29  216.66 1483.12 1217.87  183.24
  330.01  168.08  134.46  104.7   279.02   97.32   32.22  941.   1427.6
 1055.61 1244.57 1494.4    61.12 1320.99 1050.14 1058.03  226.85  339.64
  769.71 1261.09  102.22  572.31 1011.86  205.13  163.98 1371.28  435.41
  999.71  233.44   35.47   63.36  164.23   78.24  448.35  531.36   31.03
  253.65  424.24  129.11  626.91  170.49  462.96  303.92  260.72 1051.36
  436.48   94.98  184.07   48.97  915.48  811.82  370.74  253.18  461.75
  117.24  180.55  436.53   41.16  300.23   90.11  198.12   91.12  481.26
   57.29  129.52  312.97 1102.1    32.57  101.63  451.19  119.3   153.72
  455.96   92.92 1042.03  375.88   62.12 1471.86   85.75  167.1   161.78
  651.19   40.55   56.28   58.99 1239.66  126.31  418.46  383.62]

In [44]:



min_price = np.min(price_array)
max_price = np.max(price_array)


print('Minimum Price',min_price)
print('Maximum Price',max_price)

Minimum Price 24.17
Maximum Price 1495.9

**20. Create a generic NumPy array `[1, 2, 3, 4, 5]` and multiply it by 10.**

In [45]:
generic_numpy = np.array([1,2,3,4,5])

for i in generic_numpy:
    print(i * 10)

10
20
30
40
50

**21. Filter the `Price` array to get all prices greater than 500.**

In [ ]:
price_greater_than_500 = df[df['Price'] > 500]

print(pd.DataFame(price_greater_than_500[['Product','Price']]))

        Product    Price
3    Headphones  1062.30
11   Headphones   788.81
13       Laptop  1038.48
14        Mouse  1459.24
15   Headphones   592.18
..          ...      ...
477  Headphones  1102.10
485     Monitor  1042.03
488      Laptop  1471.86
492  Headphones   651.19
496     Monitor  1239.66

[119 rows x 2 columns]

---

## Section 3: Matplotlib (Data Visualization)

**22. Plot a line chart showing the trend of Total Sales over time (by Date).**

**23. Create a bar chart comparing the Total Sales by Category.**

**24. Create a histogram of the `Price` column to see the distribution.**

**25. Create a scatter plot of `Price` vs `Quantity`.**

**26. Create a pie chart showing the distribution of sales by Payment Method.**

**27. Create a bar chart showing the count of sales by City.**

**28. Plot two subplots: one for Sales by Category (Bar) and one for Sales by Month (Line).**

**29. Create a box plot for `Price` to check for outliers.**

**30. Customize one of your plots with a title, x-label, y-label, and a grid.**