In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dirty_employees.csv', 
                 na_values=['NULL', 'N/A', ''],  # Treat as NaN
                 parse_dates=['hire_date'])

In [3]:
#find missing number

df.isnull().sum()

employee_id     0
first_name      1
last_name       0
email           1
department      0
salary          3
hire_date       0
age             0
city            0
phone_number    0
dtype: int64

In [4]:
#total number of missingn values

df.isnull().sum().sum()

np.int64(5)

In [5]:
#percentage of missing
percent_missing = df.isnull().sum() * 100 / len(df)
print(percent_missing)

employee_id     0.0
first_name      2.0
last_name       0.0
email           2.0
department      0.0
salary          6.0
hire_date       0.0
age             0.0
city            0.0
phone_number    0.0
dtype: float64

In [6]:
#replace placeholder text with Nan


df.replace(['NULL','N/A','n/a','',' '],np.nan,inplace=True)
df

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,John,Smith,john.smith@company.com,Sales,55000.0,2020-01-15,28,New York,555-1234
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.0,2019-03-22,32,Los Angeles,555-5678
2,3,MICHAEL,Johnson,michael.johnson@company.com,IT,75000.0,2018-07-10,35,Chicago,555-9012
3,4,emily,Brown,emily.brown@company.com,HR,48000.0,2021-05-18,26,Houston,555-3456
4,5,David,Williams,david.williams@company.com,Sales,58000.0,2020-08-25,30,Phoenix,555-7890
5,6,Sarah,Miller,NaN,Finance,67000.0,2019-11-03,34,Philadelphia,(555) 2345
6,7,James,Davis,james.davis@company.com,IT,NaN,2017-02-14,38,San Antonio,555.6789
7,8,Jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.0,2020-04-30,29,San Diego,555-0123
8,9,Robert,Martinez,robert.martinez@company.com,Sales,56000.0,2019-09-12,31,Dallas,555-4567
9,10,Lisa,Anderson,lisa.anderson@company.com,HR,51000.0,2021-01-20,27,San Jose,5558901
10,11,John,Smith,john.smith@company.com,Sales,55000.0,2020-01-15,28,New York,555-1234
11,12,William,Taylor,william.taylor@company.com,Finance,72000.0,2018-04-05,36,Austin,555-2345
12,13,Jessica,Thomas,jessica.thomas@company.com,IT,68000.0,2019-06-17,33,Jacksonville,555-6789
13,14,Christopher,Jackson,chris.jackson@company.com,Marketing,59000.0,2020-10-08,30,Fort Worth,555-0123
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.0,2019-12-01,29,Columbus,555-4567
15,16,Matthew,Harris,matthew.harris@company.com,HR,49000.0,15-03-2021,28,Charlotte,555-8901
16,17,Ashley,Martin,ashley.martin@company.com,Finance,64000.0,2020-02-28,31,Seattle,555-2345
17,18,Daniel,Thompson,daniel.thompson@company.com,IT,71000.0,2018-08-19,37,Denver,555-6789
18,19,Megan,Garcia,megan.garcia@company.com,Marketing,NaN,2019-07-11,32,Washington,555-0123
19,20,Joshua,Robinson,joshua.robinson@company.com,Sales,57000.0,2020-06-14,30,Boston,555-4567
20,21,Brittany,Clark,brittany.clark@company.com,HR,50000.0,2021-03-25,26,El Paso,555-8901
21,22,Andrew,Lewis,andrew.lewis@company.com,Finance,69000.0,2019-01-07,34,Nashville,555-2345
22,23,Stephanie,Lee,stephanie.lee@company.com,IT,73000.0,2018-05-22,36,Oklahoma City,555-6789
23,24,Ryan,Walker,ryan.walker@company.com,Marketing,55000.0,2020-09-03,29,Portland,555-0123
24,25,Nicole,Hall,nicole.hall@company.com,sales,60000.0,2019-04-16,31,Las Vegas,555-4567
25,26,Kevin,Allen,kevin.allen@company.com,HR,52000.0,2021-07-09,27,Detroit,555-8901
26,27,Lauren,Young,lauren.young@company.com,finance,66000.0,2020-11-21,33,Memphis,555-2345
27,28,NaN,King,steven.king@company.com,IT,74000.0,2018-09-28,38,Milwaukee,555-6789
28,29,Rachel,Wright,rachel.wright@company.com,marketing,58000.0,2019-02-13,30,Albuquerque,555-0123
29,30,Brandon,Lopez,brandon.lopez@company.com,Sales,54000.0,2020-07-26,28,Tucson,555-4567
30,31,Michelle,Hill,michelle.hill@company.com,HR,NaN,2021-09-14,26,Fresno,555-8901
31,32,Tyler,Scott,tyler.scott@company.com,Finance,68000.0,2019-10-05,34,Sacramento,555-2345
32,33,Kayla,Green,kayla.green@company.com,IT,70000.0,2018-12-17,35,Long Beach,555-6789
33,34,Jason,Adams,jason.adams@company.com,Marketing,56000.0,2020-03-09,29,Kansas City,555-0123
34,35,Samantha,Baker,samantha.baker@company.com,Sales,61000.0,2019-05-23,32,Mesa,555-4567
35,36,Justin,Nelson,justin.nelson@company.com,HR,53000.0,2021-11-30,27,Atlanta,555-8901
36,37,Amber,Carter,amber.carter@company.com,Finance,650000.0,2020-01-12,33,Colorado Springs,555-2345
37,38,Eric,Mitchell,eric.mitchell@company.com,IT,72000.0,2018-06-24,37,Omaha,555-6789
38,39,Heather,Perez,heather.perez@company.com,Marketing,57000.0,2019-08-06,30,Raleigh,555-0123
39,40,Aaron,Roberts,aaron.roberts@company.com,Sales,59000.0,2020-12-19,31,Miami,555-4567
40,41,Danielle,Turner,danielle.turner@company.com,HR,48000.0,2021-04-07,-25,Virginia Beach,555-8901
41,42,Adam,Phillips,adam.phillips@company.com,Finance,71000.0,2019-11-28,35,Oakland,555-2345
42,43,Christina,Campbell,christina.campbell@company.com,IT,76000.0,2018-03-15,39,Minneapolis,555-6789
43,44,Nathan,Parker,nathan.parker@company.com,Marketing,55000.0,2020-05-27,28,Tulsa,555-0123
44,45,Melissa,Evans,melissa.evans@company.com,Sales,62000.0,2019-06-09,33,Arlington,555-4567
45,46,Brian,Edwards,brian.edwards@company.com,HR,50000.0,2021-08-21,26,New Orleans,555-8901
46,47,Angela,Collins,angela.collins@company.com,Finance,67000.0,2020-02-04,34,Bakersfield,555-2345
47,48,Patrick,Stewart,patrick.stewart@company.com,IT,78000.0,2018-10-16,40,Tampa,555-6789
48,49,Laura,Sanchez,laura.sanchez@company.com,Marketing,54000.0,2019-03-29,29,Honolulu,555-0123
49,50,Sean,Morris,sean.morris@company.com,Sales,150.0,2020-08-11,31,Anaheim,555-4567

In [7]:
df['salary'].fillna(df['salary'].mean(),inplace=True)

C:\Users\francis\AppData\Local\Temp\ipykernel_11144\1464685401.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salary'].fillna(df['salary'].mean(),inplace=True)

In [8]:
df

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.000000,2019-03-22,32,Los Angeles,555-5678
2,3,MICHAEL,Johnson,michael.johnson@company.com,IT,75000.000000,2018-07-10,35,Chicago,555-9012
3,4,emily,Brown,emily.brown@company.com,HR,48000.000000,2021-05-18,26,Houston,555-3456
4,5,David,Williams,david.williams@company.com,Sales,58000.000000,2020-08-25,30,Phoenix,555-7890
5,6,Sarah,Miller,NaN,Finance,67000.000000,2019-11-03,34,Philadelphia,(555) 2345
6,7,James,Davis,james.davis@company.com,IT,70939.361702,2017-02-14,38,San Antonio,555.6789
7,8,Jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.000000,2020-04-30,29,San Diego,555-0123
8,9,Robert,Martinez,robert.martinez@company.com,Sales,56000.000000,2019-09-12,31,Dallas,555-4567
9,10,Lisa,Anderson,lisa.anderson@company.com,HR,51000.000000,2021-01-20,27,San Jose,5558901
10,11,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
11,12,William,Taylor,william.taylor@company.com,Finance,72000.000000,2018-04-05,36,Austin,555-2345
12,13,Jessica,Thomas,jessica.thomas@company.com,IT,68000.000000,2019-06-17,33,Jacksonville,555-6789
13,14,Christopher,Jackson,chris.jackson@company.com,Marketing,59000.000000,2020-10-08,30,Fort Worth,555-0123
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.000000,2019-12-01,29,Columbus,555-4567
15,16,Matthew,Harris,matthew.harris@company.com,HR,49000.000000,15-03-2021,28,Charlotte,555-8901
16,17,Ashley,Martin,ashley.martin@company.com,Finance,64000.000000,2020-02-28,31,Seattle,555-2345
17,18,Daniel,Thompson,daniel.thompson@company.com,IT,71000.000000,2018-08-19,37,Denver,555-6789
18,19,Megan,Garcia,megan.garcia@company.com,Marketing,70939.361702,2019-07-11,32,Washington,555-0123
19,20,Joshua,Robinson,joshua.robinson@company.com,Sales,57000.000000,2020-06-14,30,Boston,555-4567
20,21,Brittany,Clark,brittany.clark@company.com,HR,50000.000000,2021-03-25,26,El Paso,555-8901
21,22,Andrew,Lewis,andrew.lewis@company.com,Finance,69000.000000,2019-01-07,34,Nashville,555-2345
22,23,Stephanie,Lee,stephanie.lee@company.com,IT,73000.000000,2018-05-22,36,Oklahoma City,555-6789
23,24,Ryan,Walker,ryan.walker@company.com,Marketing,55000.000000,2020-09-03,29,Portland,555-0123
24,25,Nicole,Hall,nicole.hall@company.com,sales,60000.000000,2019-04-16,31,Las Vegas,555-4567
25,26,Kevin,Allen,kevin.allen@company.com,HR,52000.000000,2021-07-09,27,Detroit,555-8901
26,27,Lauren,Young,lauren.young@company.com,finance,66000.000000,2020-11-21,33,Memphis,555-2345
27,28,NaN,King,steven.king@company.com,IT,74000.000000,2018-09-28,38,Milwaukee,555-6789
28,29,Rachel,Wright,rachel.wright@company.com,marketing,58000.000000,2019-02-13,30,Albuquerque,555-0123
29,30,Brandon,Lopez,brandon.lopez@company.com,Sales,54000.000000,2020-07-26,28,Tucson,555-4567
30,31,Michelle,Hill,michelle.hill@company.com,HR,70939.361702,2021-09-14,26,Fresno,555-8901
31,32,Tyler,Scott,tyler.scott@company.com,Finance,68000.000000,2019-10-05,34,Sacramento,555-2345
32,33,Kayla,Green,kayla.green@company.com,IT,70000.000000,2018-12-17,35,Long Beach,555-6789
33,34,Jason,Adams,jason.adams@company.com,Marketing,56000.000000,2020-03-09,29,Kansas City,555-0123
34,35,Samantha,Baker,samantha.baker@company.com,Sales,61000.000000,2019-05-23,32,Mesa,555-4567
35,36,Justin,Nelson,justin.nelson@company.com,HR,53000.000000,2021-11-30,27,Atlanta,555-8901
36,37,Amber,Carter,amber.carter@company.com,Finance,650000.000000,2020-01-12,33,Colorado Springs,555-2345
37,38,Eric,Mitchell,eric.mitchell@company.com,IT,72000.000000,2018-06-24,37,Omaha,555-6789
38,39,Heather,Perez,heather.perez@company.com,Marketing,57000.000000,2019-08-06,30,Raleigh,555-0123
39,40,Aaron,Roberts,aaron.roberts@company.com,Sales,59000.000000,2020-12-19,31,Miami,555-4567
40,41,Danielle,Turner,danielle.turner@company.com,HR,48000.000000,2021-04-07,-25,Virginia Beach,555-8901
41,42,Adam,Phillips,adam.phillips@company.com,Finance,71000.000000,2019-11-28,35,Oakland,555-2345
42,43,Christina,Campbell,christina.campbell@company.com,IT,76000.000000,2018-03-15,39,Minneapolis,555-6789
43,44,Nathan,Parker,nathan.parker@company.com,Marketing,55000.000000,2020-05-27,28,Tulsa,555-0123
44,45,Melissa,Evans,melissa.evans@company.com,Sales,62000.000000,2019-06-09,33,Arlington,555-4567
45,46,Brian,Edwards,brian.edwards@company.com,HR,50000.000000,2021-08-21,26,New Orleans,555-8901
46,47,Angela,Collins,angela.collins@company.com,Finance,67000.000000,2020-02-04,34,Bakersfield,555-2345
47,48,Patrick,Stewart,patrick.stewart@company.com,IT,78000.000000,2018-10-16,40,Tampa,555-6789
48,49,Laura,Sanchez,laura.sanchez@company.com,Marketing,54000.000000,2019-03-29,29,Honolulu,555-0123
49,50,Sean,Morris,sean.morris@company.com,Sales,150.000000,2020-08-11,31,Anaheim,555-4567

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
#view duplicate rows
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [employee_id, first_name, last_name, email, department, salary, hire_date, age, city, phone_number]
Index: []

In [11]:
df

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.000000,2019-03-22,32,Los Angeles,555-5678
2,3,MICHAEL,Johnson,michael.johnson@company.com,IT,75000.000000,2018-07-10,35,Chicago,555-9012
3,4,emily,Brown,emily.brown@company.com,HR,48000.000000,2021-05-18,26,Houston,555-3456
4,5,David,Williams,david.williams@company.com,Sales,58000.000000,2020-08-25,30,Phoenix,555-7890
5,6,Sarah,Miller,NaN,Finance,67000.000000,2019-11-03,34,Philadelphia,(555) 2345
6,7,James,Davis,james.davis@company.com,IT,70939.361702,2017-02-14,38,San Antonio,555.6789
7,8,Jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.000000,2020-04-30,29,San Diego,555-0123
8,9,Robert,Martinez,robert.martinez@company.com,Sales,56000.000000,2019-09-12,31,Dallas,555-4567
9,10,Lisa,Anderson,lisa.anderson@company.com,HR,51000.000000,2021-01-20,27,San Jose,5558901
10,11,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
11,12,William,Taylor,william.taylor@company.com,Finance,72000.000000,2018-04-05,36,Austin,555-2345
12,13,Jessica,Thomas,jessica.thomas@company.com,IT,68000.000000,2019-06-17,33,Jacksonville,555-6789
13,14,Christopher,Jackson,chris.jackson@company.com,Marketing,59000.000000,2020-10-08,30,Fort Worth,555-0123
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.000000,2019-12-01,29,Columbus,555-4567
15,16,Matthew,Harris,matthew.harris@company.com,HR,49000.000000,15-03-2021,28,Charlotte,555-8901
16,17,Ashley,Martin,ashley.martin@company.com,Finance,64000.000000,2020-02-28,31,Seattle,555-2345
17,18,Daniel,Thompson,daniel.thompson@company.com,IT,71000.000000,2018-08-19,37,Denver,555-6789
18,19,Megan,Garcia,megan.garcia@company.com,Marketing,70939.361702,2019-07-11,32,Washington,555-0123
19,20,Joshua,Robinson,joshua.robinson@company.com,Sales,57000.000000,2020-06-14,30,Boston,555-4567
20,21,Brittany,Clark,brittany.clark@company.com,HR,50000.000000,2021-03-25,26,El Paso,555-8901
21,22,Andrew,Lewis,andrew.lewis@company.com,Finance,69000.000000,2019-01-07,34,Nashville,555-2345
22,23,Stephanie,Lee,stephanie.lee@company.com,IT,73000.000000,2018-05-22,36,Oklahoma City,555-6789
23,24,Ryan,Walker,ryan.walker@company.com,Marketing,55000.000000,2020-09-03,29,Portland,555-0123
24,25,Nicole,Hall,nicole.hall@company.com,sales,60000.000000,2019-04-16,31,Las Vegas,555-4567
25,26,Kevin,Allen,kevin.allen@company.com,HR,52000.000000,2021-07-09,27,Detroit,555-8901
26,27,Lauren,Young,lauren.young@company.com,finance,66000.000000,2020-11-21,33,Memphis,555-2345
27,28,NaN,King,steven.king@company.com,IT,74000.000000,2018-09-28,38,Milwaukee,555-6789
28,29,Rachel,Wright,rachel.wright@company.com,marketing,58000.000000,2019-02-13,30,Albuquerque,555-0123
29,30,Brandon,Lopez,brandon.lopez@company.com,Sales,54000.000000,2020-07-26,28,Tucson,555-4567
30,31,Michelle,Hill,michelle.hill@company.com,HR,70939.361702,2021-09-14,26,Fresno,555-8901
31,32,Tyler,Scott,tyler.scott@company.com,Finance,68000.000000,2019-10-05,34,Sacramento,555-2345
32,33,Kayla,Green,kayla.green@company.com,IT,70000.000000,2018-12-17,35,Long Beach,555-6789
33,34,Jason,Adams,jason.adams@company.com,Marketing,56000.000000,2020-03-09,29,Kansas City,555-0123
34,35,Samantha,Baker,samantha.baker@company.com,Sales,61000.000000,2019-05-23,32,Mesa,555-4567
35,36,Justin,Nelson,justin.nelson@company.com,HR,53000.000000,2021-11-30,27,Atlanta,555-8901
36,37,Amber,Carter,amber.carter@company.com,Finance,650000.000000,2020-01-12,33,Colorado Springs,555-2345
37,38,Eric,Mitchell,eric.mitchell@company.com,IT,72000.000000,2018-06-24,37,Omaha,555-6789
38,39,Heather,Perez,heather.perez@company.com,Marketing,57000.000000,2019-08-06,30,Raleigh,555-0123
39,40,Aaron,Roberts,aaron.roberts@company.com,Sales,59000.000000,2020-12-19,31,Miami,555-4567
40,41,Danielle,Turner,danielle.turner@company.com,HR,48000.000000,2021-04-07,-25,Virginia Beach,555-8901
41,42,Adam,Phillips,adam.phillips@company.com,Finance,71000.000000,2019-11-28,35,Oakland,555-2345
42,43,Christina,Campbell,christina.campbell@company.com,IT,76000.000000,2018-03-15,39,Minneapolis,555-6789
43,44,Nathan,Parker,nathan.parker@company.com,Marketing,55000.000000,2020-05-27,28,Tulsa,555-0123
44,45,Melissa,Evans,melissa.evans@company.com,Sales,62000.000000,2019-06-09,33,Arlington,555-4567
45,46,Brian,Edwards,brian.edwards@company.com,HR,50000.000000,2021-08-21,26,New Orleans,555-8901
46,47,Angela,Collins,angela.collins@company.com,Finance,67000.000000,2020-02-04,34,Bakersfield,555-2345
47,48,Patrick,Stewart,patrick.stewart@company.com,IT,78000.000000,2018-10-16,40,Tampa,555-6789
48,49,Laura,Sanchez,laura.sanchez@company.com,Marketing,54000.000000,2019-03-29,29,Honolulu,555-0123
49,50,Sean,Morris,sean.morris@company.com,Sales,150.000000,2020-08-11,31,Anaheim,555-4567

In [12]:
df['first_name'] = df['first_name'].str.lower()

In [13]:
df

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,john,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
1,2,jane,Doe,jane.doe@company.com,Marketing,62000.000000,2019-03-22,32,Los Angeles,555-5678
2,3,michael,Johnson,michael.johnson@company.com,IT,75000.000000,2018-07-10,35,Chicago,555-9012
3,4,emily,Brown,emily.brown@company.com,HR,48000.000000,2021-05-18,26,Houston,555-3456
4,5,david,Williams,david.williams@company.com,Sales,58000.000000,2020-08-25,30,Phoenix,555-7890
5,6,sarah,Miller,NaN,Finance,67000.000000,2019-11-03,34,Philadelphia,(555) 2345
6,7,james,Davis,james.davis@company.com,IT,70939.361702,2017-02-14,38,San Antonio,555.6789
7,8,jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.000000,2020-04-30,29,San Diego,555-0123
8,9,robert,Martinez,robert.martinez@company.com,Sales,56000.000000,2019-09-12,31,Dallas,555-4567
9,10,lisa,Anderson,lisa.anderson@company.com,HR,51000.000000,2021-01-20,27,San Jose,5558901
10,11,john,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
11,12,william,Taylor,william.taylor@company.com,Finance,72000.000000,2018-04-05,36,Austin,555-2345
12,13,jessica,Thomas,jessica.thomas@company.com,IT,68000.000000,2019-06-17,33,Jacksonville,555-6789
13,14,christopher,Jackson,chris.jackson@company.com,Marketing,59000.000000,2020-10-08,30,Fort Worth,555-0123
14,15,amanda,White,amanda.white@company.com,Sales,-5000.000000,2019-12-01,29,Columbus,555-4567
15,16,matthew,Harris,matthew.harris@company.com,HR,49000.000000,15-03-2021,28,Charlotte,555-8901
16,17,ashley,Martin,ashley.martin@company.com,Finance,64000.000000,2020-02-28,31,Seattle,555-2345
17,18,daniel,Thompson,daniel.thompson@company.com,IT,71000.000000,2018-08-19,37,Denver,555-6789
18,19,megan,Garcia,megan.garcia@company.com,Marketing,70939.361702,2019-07-11,32,Washington,555-0123
19,20,joshua,Robinson,joshua.robinson@company.com,Sales,57000.000000,2020-06-14,30,Boston,555-4567
20,21,brittany,Clark,brittany.clark@company.com,HR,50000.000000,2021-03-25,26,El Paso,555-8901
21,22,andrew,Lewis,andrew.lewis@company.com,Finance,69000.000000,2019-01-07,34,Nashville,555-2345
22,23,stephanie,Lee,stephanie.lee@company.com,IT,73000.000000,2018-05-22,36,Oklahoma City,555-6789
23,24,ryan,Walker,ryan.walker@company.com,Marketing,55000.000000,2020-09-03,29,Portland,555-0123
24,25,nicole,Hall,nicole.hall@company.com,sales,60000.000000,2019-04-16,31,Las Vegas,555-4567
25,26,kevin,Allen,kevin.allen@company.com,HR,52000.000000,2021-07-09,27,Detroit,555-8901
26,27,lauren,Young,lauren.young@company.com,finance,66000.000000,2020-11-21,33,Memphis,555-2345
27,28,NaN,King,steven.king@company.com,IT,74000.000000,2018-09-28,38,Milwaukee,555-6789
28,29,rachel,Wright,rachel.wright@company.com,marketing,58000.000000,2019-02-13,30,Albuquerque,555-0123
29,30,brandon,Lopez,brandon.lopez@company.com,Sales,54000.000000,2020-07-26,28,Tucson,555-4567
30,31,michelle,Hill,michelle.hill@company.com,HR,70939.361702,2021-09-14,26,Fresno,555-8901
31,32,tyler,Scott,tyler.scott@company.com,Finance,68000.000000,2019-10-05,34,Sacramento,555-2345
32,33,kayla,Green,kayla.green@company.com,IT,70000.000000,2018-12-17,35,Long Beach,555-6789
33,34,jason,Adams,jason.adams@company.com,Marketing,56000.000000,2020-03-09,29,Kansas City,555-0123
34,35,samantha,Baker,samantha.baker@company.com,Sales,61000.000000,2019-05-23,32,Mesa,555-4567
35,36,justin,Nelson,justin.nelson@company.com,HR,53000.000000,2021-11-30,27,Atlanta,555-8901
36,37,amber,Carter,amber.carter@company.com,Finance,650000.000000,2020-01-12,33,Colorado Springs,555-2345
37,38,eric,Mitchell,eric.mitchell@company.com,IT,72000.000000,2018-06-24,37,Omaha,555-6789
38,39,heather,Perez,heather.perez@company.com,Marketing,57000.000000,2019-08-06,30,Raleigh,555-0123
39,40,aaron,Roberts,aaron.roberts@company.com,Sales,59000.000000,2020-12-19,31,Miami,555-4567
40,41,danielle,Turner,danielle.turner@company.com,HR,48000.000000,2021-04-07,-25,Virginia Beach,555-8901
41,42,adam,Phillips,adam.phillips@company.com,Finance,71000.000000,2019-11-28,35,Oakland,555-2345
42,43,christina,Campbell,christina.campbell@company.com,IT,76000.000000,2018-03-15,39,Minneapolis,555-6789
43,44,nathan,Parker,nathan.parker@company.com,Marketing,55000.000000,2020-05-27,28,Tulsa,555-0123
44,45,melissa,Evans,melissa.evans@company.com,Sales,62000.000000,2019-06-09,33,Arlington,555-4567
45,46,brian,Edwards,brian.edwards@company.com,HR,50000.000000,2021-08-21,26,New Orleans,555-8901
46,47,angela,Collins,angela.collins@company.com,Finance,67000.000000,2020-02-04,34,Bakersfield,555-2345
47,48,patrick,Stewart,patrick.stewart@company.com,IT,78000.000000,2018-10-16,40,Tampa,555-6789
48,49,laura,Sanchez,laura.sanchez@company.com,Marketing,54000.000000,2019-03-29,29,Honolulu,555-0123
49,50,sean,Morris,sean.morris@company.com,Sales,150.000000,2020-08-11,31,Anaheim,555-4567

In [14]:
df['last_name'] = df['last_name'].str.lower()

In [15]:
df[['last_name', 'first_name']] = df[['last_name','first_name']].apply(lambda x: x.str.capitalize(), axis=1)

In [16]:
df

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.000000,2019-03-22,32,Los Angeles,555-5678
2,3,Michael,Johnson,michael.johnson@company.com,IT,75000.000000,2018-07-10,35,Chicago,555-9012
3,4,Emily,Brown,emily.brown@company.com,HR,48000.000000,2021-05-18,26,Houston,555-3456
4,5,David,Williams,david.williams@company.com,Sales,58000.000000,2020-08-25,30,Phoenix,555-7890
5,6,Sarah,Miller,NaN,Finance,67000.000000,2019-11-03,34,Philadelphia,(555) 2345
6,7,James,Davis,james.davis@company.com,IT,70939.361702,2017-02-14,38,San Antonio,555.6789
7,8,Jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.000000,2020-04-30,29,San Diego,555-0123
8,9,Robert,Martinez,robert.martinez@company.com,Sales,56000.000000,2019-09-12,31,Dallas,555-4567
9,10,Lisa,Anderson,lisa.anderson@company.com,HR,51000.000000,2021-01-20,27,San Jose,5558901
10,11,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
11,12,William,Taylor,william.taylor@company.com,Finance,72000.000000,2018-04-05,36,Austin,555-2345
12,13,Jessica,Thomas,jessica.thomas@company.com,IT,68000.000000,2019-06-17,33,Jacksonville,555-6789
13,14,Christopher,Jackson,chris.jackson@company.com,Marketing,59000.000000,2020-10-08,30,Fort Worth,555-0123
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.000000,2019-12-01,29,Columbus,555-4567
15,16,Matthew,Harris,matthew.harris@company.com,HR,49000.000000,15-03-2021,28,Charlotte,555-8901
16,17,Ashley,Martin,ashley.martin@company.com,Finance,64000.000000,2020-02-28,31,Seattle,555-2345
17,18,Daniel,Thompson,daniel.thompson@company.com,IT,71000.000000,2018-08-19,37,Denver,555-6789
18,19,Megan,Garcia,megan.garcia@company.com,Marketing,70939.361702,2019-07-11,32,Washington,555-0123
19,20,Joshua,Robinson,joshua.robinson@company.com,Sales,57000.000000,2020-06-14,30,Boston,555-4567
20,21,Brittany,Clark,brittany.clark@company.com,HR,50000.000000,2021-03-25,26,El Paso,555-8901
21,22,Andrew,Lewis,andrew.lewis@company.com,Finance,69000.000000,2019-01-07,34,Nashville,555-2345
22,23,Stephanie,Lee,stephanie.lee@company.com,IT,73000.000000,2018-05-22,36,Oklahoma City,555-6789
23,24,Ryan,Walker,ryan.walker@company.com,Marketing,55000.000000,2020-09-03,29,Portland,555-0123
24,25,Nicole,Hall,nicole.hall@company.com,sales,60000.000000,2019-04-16,31,Las Vegas,555-4567
25,26,Kevin,Allen,kevin.allen@company.com,HR,52000.000000,2021-07-09,27,Detroit,555-8901
26,27,Lauren,Young,lauren.young@company.com,finance,66000.000000,2020-11-21,33,Memphis,555-2345
27,28,NaN,King,steven.king@company.com,IT,74000.000000,2018-09-28,38,Milwaukee,555-6789
28,29,Rachel,Wright,rachel.wright@company.com,marketing,58000.000000,2019-02-13,30,Albuquerque,555-0123
29,30,Brandon,Lopez,brandon.lopez@company.com,Sales,54000.000000,2020-07-26,28,Tucson,555-4567
30,31,Michelle,Hill,michelle.hill@company.com,HR,70939.361702,2021-09-14,26,Fresno,555-8901
31,32,Tyler,Scott,tyler.scott@company.com,Finance,68000.000000,2019-10-05,34,Sacramento,555-2345
32,33,Kayla,Green,kayla.green@company.com,IT,70000.000000,2018-12-17,35,Long Beach,555-6789
33,34,Jason,Adams,jason.adams@company.com,Marketing,56000.000000,2020-03-09,29,Kansas City,555-0123
34,35,Samantha,Baker,samantha.baker@company.com,Sales,61000.000000,2019-05-23,32,Mesa,555-4567
35,36,Justin,Nelson,justin.nelson@company.com,HR,53000.000000,2021-11-30,27,Atlanta,555-8901
36,37,Amber,Carter,amber.carter@company.com,Finance,650000.000000,2020-01-12,33,Colorado Springs,555-2345
37,38,Eric,Mitchell,eric.mitchell@company.com,IT,72000.000000,2018-06-24,37,Omaha,555-6789
38,39,Heather,Perez,heather.perez@company.com,Marketing,57000.000000,2019-08-06,30,Raleigh,555-0123
39,40,Aaron,Roberts,aaron.roberts@company.com,Sales,59000.000000,2020-12-19,31,Miami,555-4567
40,41,Danielle,Turner,danielle.turner@company.com,HR,48000.000000,2021-04-07,-25,Virginia Beach,555-8901
41,42,Adam,Phillips,adam.phillips@company.com,Finance,71000.000000,2019-11-28,35,Oakland,555-2345
42,43,Christina,Campbell,christina.campbell@company.com,IT,76000.000000,2018-03-15,39,Minneapolis,555-6789
43,44,Nathan,Parker,nathan.parker@company.com,Marketing,55000.000000,2020-05-27,28,Tulsa,555-0123
44,45,Melissa,Evans,melissa.evans@company.com,Sales,62000.000000,2019-06-09,33,Arlington,555-4567
45,46,Brian,Edwards,brian.edwards@company.com,HR,50000.000000,2021-08-21,26,New Orleans,555-8901
46,47,Angela,Collins,angela.collins@company.com,Finance,67000.000000,2020-02-04,34,Bakersfield,555-2345
47,48,Patrick,Stewart,patrick.stewart@company.com,IT,78000.000000,2018-10-16,40,Tampa,555-6789
48,49,Laura,Sanchez,laura.sanchez@company.com,Marketing,54000.000000,2019-03-29,29,Honolulu,555-0123
49,50,Sean,Morris,sean.morris@company.com,Sales,150.000000,2020-08-11,31,Anaheim,555-4567

In [17]:
df['salary'] = pd.to_numeric(df['salary'],errors='coerce')
df.head(5)

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,John,Smith,john.smith@company.com,Sales,55000.0,2020-01-15,28,New York,555-1234
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.0,2019-03-22,32,Los Angeles,555-5678
2,3,Michael,Johnson,michael.johnson@company.com,IT,75000.0,2018-07-10,35,Chicago,555-9012
3,4,Emily,Brown,emily.brown@company.com,HR,48000.0,2021-05-18,26,Houston,555-3456
4,5,David,Williams,david.williams@company.com,Sales,58000.0,2020-08-25,30,Phoenix,555-7890

In [18]:
from scipy import stats

In [19]:
z_scores = stats.zscore(df['salary'])
df = df[(np.abs(z_scores) < 2)]
df

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
0,1,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.000000,2019-03-22,32,Los Angeles,555-5678
2,3,Michael,Johnson,michael.johnson@company.com,IT,75000.000000,2018-07-10,35,Chicago,555-9012
3,4,Emily,Brown,emily.brown@company.com,HR,48000.000000,2021-05-18,26,Houston,555-3456
4,5,David,Williams,david.williams@company.com,Sales,58000.000000,2020-08-25,30,Phoenix,555-7890
5,6,Sarah,Miller,NaN,Finance,67000.000000,2019-11-03,34,Philadelphia,(555) 2345
6,7,James,Davis,james.davis@company.com,IT,70939.361702,2017-02-14,38,San Antonio,555.6789
7,8,Jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.000000,2020-04-30,29,San Diego,555-0123
8,9,Robert,Martinez,robert.martinez@company.com,Sales,56000.000000,2019-09-12,31,Dallas,555-4567
9,10,Lisa,Anderson,lisa.anderson@company.com,HR,51000.000000,2021-01-20,27,San Jose,5558901
10,11,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234
11,12,William,Taylor,william.taylor@company.com,Finance,72000.000000,2018-04-05,36,Austin,555-2345
12,13,Jessica,Thomas,jessica.thomas@company.com,IT,68000.000000,2019-06-17,33,Jacksonville,555-6789
13,14,Christopher,Jackson,chris.jackson@company.com,Marketing,59000.000000,2020-10-08,30,Fort Worth,555-0123
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.000000,2019-12-01,29,Columbus,555-4567
15,16,Matthew,Harris,matthew.harris@company.com,HR,49000.000000,15-03-2021,28,Charlotte,555-8901
16,17,Ashley,Martin,ashley.martin@company.com,Finance,64000.000000,2020-02-28,31,Seattle,555-2345
17,18,Daniel,Thompson,daniel.thompson@company.com,IT,71000.000000,2018-08-19,37,Denver,555-6789
18,19,Megan,Garcia,megan.garcia@company.com,Marketing,70939.361702,2019-07-11,32,Washington,555-0123
19,20,Joshua,Robinson,joshua.robinson@company.com,Sales,57000.000000,2020-06-14,30,Boston,555-4567
20,21,Brittany,Clark,brittany.clark@company.com,HR,50000.000000,2021-03-25,26,El Paso,555-8901
21,22,Andrew,Lewis,andrew.lewis@company.com,Finance,69000.000000,2019-01-07,34,Nashville,555-2345
22,23,Stephanie,Lee,stephanie.lee@company.com,IT,73000.000000,2018-05-22,36,Oklahoma City,555-6789
23,24,Ryan,Walker,ryan.walker@company.com,Marketing,55000.000000,2020-09-03,29,Portland,555-0123
24,25,Nicole,Hall,nicole.hall@company.com,sales,60000.000000,2019-04-16,31,Las Vegas,555-4567
25,26,Kevin,Allen,kevin.allen@company.com,HR,52000.000000,2021-07-09,27,Detroit,555-8901
26,27,Lauren,Young,lauren.young@company.com,finance,66000.000000,2020-11-21,33,Memphis,555-2345
27,28,NaN,King,steven.king@company.com,IT,74000.000000,2018-09-28,38,Milwaukee,555-6789
28,29,Rachel,Wright,rachel.wright@company.com,marketing,58000.000000,2019-02-13,30,Albuquerque,555-0123
29,30,Brandon,Lopez,brandon.lopez@company.com,Sales,54000.000000,2020-07-26,28,Tucson,555-4567
30,31,Michelle,Hill,michelle.hill@company.com,HR,70939.361702,2021-09-14,26,Fresno,555-8901
31,32,Tyler,Scott,tyler.scott@company.com,Finance,68000.000000,2019-10-05,34,Sacramento,555-2345
32,33,Kayla,Green,kayla.green@company.com,IT,70000.000000,2018-12-17,35,Long Beach,555-6789
33,34,Jason,Adams,jason.adams@company.com,Marketing,56000.000000,2020-03-09,29,Kansas City,555-0123
34,35,Samantha,Baker,samantha.baker@company.com,Sales,61000.000000,2019-05-23,32,Mesa,555-4567
35,36,Justin,Nelson,justin.nelson@company.com,HR,53000.000000,2021-11-30,27,Atlanta,555-8901
37,38,Eric,Mitchell,eric.mitchell@company.com,IT,72000.000000,2018-06-24,37,Omaha,555-6789
38,39,Heather,Perez,heather.perez@company.com,Marketing,57000.000000,2019-08-06,30,Raleigh,555-0123
39,40,Aaron,Roberts,aaron.roberts@company.com,Sales,59000.000000,2020-12-19,31,Miami,555-4567
40,41,Danielle,Turner,danielle.turner@company.com,HR,48000.000000,2021-04-07,-25,Virginia Beach,555-8901
41,42,Adam,Phillips,adam.phillips@company.com,Finance,71000.000000,2019-11-28,35,Oakland,555-2345
42,43,Christina,Campbell,christina.campbell@company.com,IT,76000.000000,2018-03-15,39,Minneapolis,555-6789
43,44,Nathan,Parker,nathan.parker@company.com,Marketing,55000.000000,2020-05-27,28,Tulsa,555-0123
44,45,Melissa,Evans,melissa.evans@company.com,Sales,62000.000000,2019-06-09,33,Arlington,555-4567
45,46,Brian,Edwards,brian.edwards@company.com,HR,50000.000000,2021-08-21,26,New Orleans,555-8901
46,47,Angela,Collins,angela.collins@company.com,Finance,67000.000000,2020-02-04,34,Bakersfield,555-2345
47,48,Patrick,Stewart,patrick.stewart@company.com,IT,78000.000000,2018-10-16,40,Tampa,555-6789
48,49,Laura,Sanchez,laura.sanchez@company.com,Marketing,54000.000000,2019-03-29,29,Honolulu,555-0123
49,50,Sean,Morris,sean.morris@company.com,Sales,150.000000,2020-08-11,31,Anaheim,555-4567

In [20]:
#check value range
value_range = df[(df['age'] < 18) | (df['age'] > 30)]
value_range.head(1)

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.0,2019-03-22,32,Los Angeles,555-5678

In [21]:
df[df['salary'] < 0]

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.0,2019-12-01,29,Columbus,555-4567

In [22]:
bins = [0,18,35,50,100]
labels = ['0-18','19-35','36-50','51-100']

df['age_group'] = pd.cut(df['age'],bins=bins,labels=labels)

C:\Users\francis\AppData\Local\Temp\ipykernel_11144\3411118237.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age_group'] = pd.cut(df['age'],bins=bins,labels=labels)

In [ ]:
df.head()

,employee_id,first_name,last_name,email,department,salary,hire_date,age,city,phone_number,age_group
0,1,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234,19-35
1,2,Jane,Doe,jane.doe@company.com,Marketing,62000.000000,2019-03-22,32,Los Angeles,555-5678,19-35
2,3,Michael,Johnson,michael.johnson@company.com,IT,75000.000000,2018-07-10,35,Chicago,555-9012,19-35
3,4,Emily,Brown,emily.brown@company.com,HR,48000.000000,2021-05-18,26,Houston,555-3456,19-35
4,5,David,Williams,david.williams@company.com,Sales,58000.000000,2020-08-25,30,Phoenix,555-7890,19-35
5,6,Sarah,Miller,NaN,Finance,67000.000000,2019-11-03,34,Philadelphia,(555) 2345,19-35
6,7,James,Davis,james.davis@company.com,IT,70939.361702,2017-02-14,38,San Antonio,555.6789,36-50
7,8,Jennifer,Garcia,jennifer.garcia@company.com,Marketing,54000.000000,2020-04-30,29,San Diego,555-0123,19-35
8,9,Robert,Martinez,robert.martinez@company.com,Sales,56000.000000,2019-09-12,31,Dallas,555-4567,19-35
9,10,Lisa,Anderson,lisa.anderson@company.com,HR,51000.000000,2021-01-20,27,San Jose,5558901,19-35
10,11,John,Smith,john.smith@company.com,Sales,55000.000000,2020-01-15,28,New York,555-1234,19-35
11,12,William,Taylor,william.taylor@company.com,Finance,72000.000000,2018-04-05,36,Austin,555-2345,36-50
12,13,Jessica,Thomas,jessica.thomas@company.com,IT,68000.000000,2019-06-17,33,Jacksonville,555-6789,19-35
13,14,Christopher,Jackson,chris.jackson@company.com,Marketing,59000.000000,2020-10-08,30,Fort Worth,555-0123,19-35
14,15,Amanda,White,amanda.white@company.com,Sales,-5000.000000,2019-12-01,29,Columbus,555-4567,19-35
15,16,Matthew,Harris,matthew.harris@company.com,HR,49000.000000,15-03-2021,28,Charlotte,555-8901,19-35
16,17,Ashley,Martin,ashley.martin@company.com,Finance,64000.000000,2020-02-28,31,Seattle,555-2345,19-35
17,18,Daniel,Thompson,daniel.thompson@company.com,IT,71000.000000,2018-08-19,37,Denver,555-6789,36-50
18,19,Megan,Garcia,megan.garcia@company.com,Marketing,70939.361702,2019-07-11,32,Washington,555-0123,19-35
19,20,Joshua,Robinson,joshua.robinson@company.com,Sales,57000.000000,2020-06-14,30,Boston,555-4567,19-35
20,21,Brittany,Clark,brittany.clark@company.com,HR,50000.000000,2021-03-25,26,El Paso,555-8901,19-35
21,22,Andrew,Lewis,andrew.lewis@company.com,Finance,69000.000000,2019-01-07,34,Nashville,555-2345,19-35
22,23,Stephanie,Lee,stephanie.lee@company.com,IT,73000.000000,2018-05-22,36,Oklahoma City,555-6789,36-50
23,24,Ryan,Walker,ryan.walker@company.com,Marketing,55000.000000,2020-09-03,29,Portland,555-0123,19-35
24,25,Nicole,Hall,nicole.hall@company.com,sales,60000.000000,2019-04-16,31,Las Vegas,555-4567,19-35
25,26,Kevin,Allen,kevin.allen@company.com,HR,52000.000000,2021-07-09,27,Detroit,555-8901,19-35
26,27,Lauren,Young,lauren.young@company.com,finance,66000.000000,2020-11-21,33,Memphis,555-2345,19-35
27,28,NaN,King,steven.king@company.com,IT,74000.000000,2018-09-28,38,Milwaukee,555-6789,36-50
28,29,Rachel,Wright,rachel.wright@company.com,marketing,58000.000000,2019-02-13,30,Albuquerque,555-0123,19-35
29,30,Brandon,Lopez,brandon.lopez@company.com,Sales,54000.000000,2020-07-26,28,Tucson,555-4567,19-35
30,31,Michelle,Hill,michelle.hill@company.com,HR,70939.361702,2021-09-14,26,Fresno,555-8901,19-35
31,32,Tyler,Scott,tyler.scott@company.com,Finance,68000.000000,2019-10-05,34,Sacramento,555-2345,19-35
32,33,Kayla,Green,kayla.green@company.com,IT,70000.000000,2018-12-17,35,Long Beach,555-6789,19-35
33,34,Jason,Adams,jason.adams@company.com,Marketing,56000.000000,2020-03-09,29,Kansas City,555-0123,19-35
34,35,Samantha,Baker,samantha.baker@company.com,Sales,61000.000000,2019-05-23,32,Mesa,555-4567,19-35
35,36,Justin,Nelson,justin.nelson@company.com,HR,53000.000000,2021-11-30,27,Atlanta,555-8901,19-35
37,38,Eric,Mitchell,eric.mitchell@company.com,IT,72000.000000,2018-06-24,37,Omaha,555-6789,36-50
38,39,Heather,Perez,heather.perez@company.com,Marketing,57000.000000,2019-08-06,30,Raleigh,555-0123,19-35
39,40,Aaron,Roberts,aaron.roberts@company.com,Sales,59000.000000,2020-12-19,31,Miami,555-4567,19-35
40,41,Danielle,Turner,danielle.turner@company.com,HR,48000.000000,2021-04-07,-25,Virginia Beach,555-8901,NaN
41,42,Adam,Phillips,adam.phillips@company.com,Finance,71000.000000,2019-11-28,35,Oakland,555-2345,19-35
42,43,Christina,Campbell,christina.campbell@company.com,IT,76000.000000,2018-03-15,39,Minneapolis,555-6789,36-50
43,44,Nathan,Parker,nathan.parker@company.com,Marketing,55000.000000,2020-05-27,28,Tulsa,555-0123,19-35
44,45,Melissa,Evans,melissa.evans@company.com,Sales,62000.000000,2019-06-09,33,Arlington,555-4567,19-35
45,46,Brian,Edwards,brian.edwards@company.com,HR,50000.000000,2021-08-21,26,New Orleans,555-8901,19-35
46,47,Angela,Collins,angela.collins@company.com,Finance,67000.000000,2020-02-04,34,Bakersfield,555-2345,19-35
47,48,Patrick,Stewart,patrick.stewart@company.com,IT,78000.000000,2018-10-16,40,Tampa,555-6789,36-50
48,49,Laura,Sanchez,laura.sanchez@company.com,Marketing,54000.000000,2019-03-29,29,Honolulu,555-0123,19-35
49,50,Sean,Morris,sean.morris@company.com,Sales,150.000000,2020-08-11,31,Anaheim,555-4567,19-35

In [ ]:
Q1 = df['salary'].quantile(0.25)
Q3 = df['salary'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR