In [1]:
import pandas as pd
import numpy as np

# Create a MultiIndex DataFrame with stock prices for symbols AAPL and MSFT over 3 days
arrays = [
    ['AAPL', 'AAPL', 'AAPL', 'MSFT', 'MSFT', 'MSFT'],
    pd.date_range('2023-01-01', periods=3).tolist() * 2
]
index = pd.MultiIndex.from_arrays(arrays, names=('Symbol', 'Date'))

data = {
    'Open': np.random.uniform(100, 200, size=6),
    'Close': np.random.uniform(100, 200, size=6),
    'Volume': np.random.randint(1000, 5000, size=6)
}

df = pd.DataFrame(data, index=index)
print(df)

                         Open       Close  Volume
Symbol Date
AAPL   2023-01-01  135.098190  123.404395    2374
       2023-01-02  108.848042  156.092002    4643
       2023-01-03  158.927056  134.710235    4959
MSFT   2023-01-01  182.417133  184.656043    4610
       2023-01-02  171.541516  153.930177    3581
       2023-01-03  190.730099  130.397997    3541

In [2]:
df.loc['AAPL']

                  Open       Close  Volume
Date
2023-01-01  135.098190  123.404395    2374
2023-01-02  108.848042  156.092002    4643
2023-01-03  158.927056  134.710235    4959

In [3]:
df.xs('2023-01-02', level='Date')

              Open       Close  Volume
Symbol
AAPL    108.848042  156.092002    4643
MSFT    171.541516  153.930177    3581

In [4]:
threshold = 150

# Filter rows where Open price > threshold and Volume is in a list
volume_list = [2000, 3000, 4000]

df_filtered = df.query('Open > @threshold and Volume in @volume_list')
print(df_filtered)

Empty DataFrame
Columns: [Open, Close, Volume]
Index: []

In [5]:
df = df.assign(DailyReturn=lambda x: (x['Close'] - x['Open']) / x['Open'])

In [6]:
print(df)

                         Open       Close  Volume  DailyReturn
Symbol Date
AAPL   2023-01-01  135.098190  123.404395    2374    -0.086558
       2023-01-02  108.848042  156.092002    4643     0.434036
       2023-01-03  158.927056  134.710235    4959    -0.152377
MSFT   2023-01-01  182.417133  184.656043    4610     0.012274
       2023-01-02  171.541516  153.930177    3581    -0.102665
       2023-01-03  190.730099  130.397997    3541    -0.316322

In [8]:
agg_results = df.groupby('Symbol').agg(
    AvgOpen=('Open','mean'),
    MaxClose=('Close','max'),
    TotalVolume=('Volume','sum'),
    Volatility=('DailyReturn',lambda x: x.std())
)
print(agg_results)

           AvgOpen    MaxClose  TotalVolume  Volatility
Symbol
AAPL    134.291096  156.092002        11976    0.321255
MSFT    181.562916  184.656043        11732    0.166751