In [1]:
import duckdb

# Connect to an in-memory DuckDB database
con = duckdb.connect(database=':memory:')

# Read CSV directly
df = con.execute("SELECT * FROM 'data.csv'").df()

print(df)

   id first_name     last_name                        email phone_number  \
0   1    Francis       Ganapin          francis@example.com  09171234567
1   2        Ana        Santos       ana.santos@example.com  09181234567
2   3       Mark         Reyes       mark.reyes@example.com  09201234567
3   4      Maria         Lopez      maria.lopez@example.com  09191234567
4   5       John          Cruz        john.cruz@example.com  09211234567
5   6       Liza  Delos Santos          liza.ds@example.com  09301234567
6   7     Carlos        Manalo    carlos.manalo@example.com  09181230000
7   8      Grace     Fernandez  grace.fernandez@example.com  09351234567
8   9      Paulo          Diaz       paulo.diaz@example.com  09251234567
9  10      Sofia         Ramos      sofia.ramos@example.com  09171235555

  membership_type start_date   end_date   status
0            Gold 2025-01-01 2025-12-31   Active
1          Silver 2025-02-15 2025-08-15   Active
2          Bronze 2024-09-01 2025-09-01   Active
3            Gold 2025-03-01 2026-03-01   Active
4          Silver 2024-11-15 2025-05-15  Expired
5          Bronze 2025-04-01 2025-10-01   Active
6            Gold 2025-01-15 2026-01-15   Active
7          Silver 2025-02-01 2025-08-01   Active
8          Bronze 2024-07-01 2025-07-01   Active
9            Gold 2025-05-01 2026-05-01   Active

In [7]:


conn = duckdb.connect("members.db")

In [9]:
conn.execute("""
    CREATE TABLE members AS
             SELECT * FROM read_csv_auto('data.csv')
""")

In [10]:
df = conn.execute("SELECT * FROM members").fetchdf()
print(df)

   id first_name     last_name                        email phone_number  \
0   1    Francis       Ganapin          francis@example.com  09171234567
1   2        Ana        Santos       ana.santos@example.com  09181234567
2   3       Mark         Reyes       mark.reyes@example.com  09201234567
3   4      Maria         Lopez      maria.lopez@example.com  09191234567
4   5       John          Cruz        john.cruz@example.com  09211234567
5   6       Liza  Delos Santos          liza.ds@example.com  09301234567
6   7     Carlos        Manalo    carlos.manalo@example.com  09181230000
7   8      Grace     Fernandez  grace.fernandez@example.com  09351234567
8   9      Paulo          Diaz       paulo.diaz@example.com  09251234567
9  10      Sofia         Ramos      sofia.ramos@example.com  09171235555

  membership_type start_date   end_date   status
0            Gold 2025-01-01 2025-12-31   Active
1          Silver 2025-02-15 2025-08-15   Active
2          Bronze 2024-09-01 2025-09-01   Active
3            Gold 2025-03-01 2026-03-01   Active
4          Silver 2024-11-15 2025-05-15  Expired
5          Bronze 2025-04-01 2025-10-01   Active
6            Gold 2025-01-15 2026-01-15   Active
7          Silver 2025-02-01 2025-08-01   Active
8          Bronze 2024-07-01 2025-07-01   Active
9            Gold 2025-05-01 2026-05-01   Active

In [11]:
duckdb.sql("SELECT 42").show()

┌───────┐
│  42   │
│ int32 │
├───────┤
│    42 │
└───────┘

In [12]:
duckdb.read_csv('data.csv')

┌───────┬────────────┬──────────────┬─────────────────────────────┬──────────────┬─────────────────┬────────────┬────────────┬─────────┐
│  id   │ first_name │  last_name   │            email            │ phone_number │ membership_type │ start_date │  end_date  │ status  │
│ int64 │  varchar   │   varchar    │           varchar           │   varchar    │     varchar     │    date    │    date    │ varchar │
├───────┼────────────┼──────────────┼─────────────────────────────┼──────────────┼─────────────────┼────────────┼────────────┼─────────┤
│     1 │ Francis    │ Ganapin      │ francis@example.com         │ 09171234567  │ Gold            │ 2025-01-01 │ 2025-12-31 │ Active  │
│     2 │ Ana        │ Santos       │ ana.santos@example.com      │ 09181234567  │ Silver          │ 2025-02-15 │ 2025-08-15 │ Active  │
│     3 │ Mark       │ Reyes        │ mark.reyes@example.com      │ 09201234567  │ Bronze          │ 2024-09-01 │ 2025-09-01 │ Active  │
│     4 │ Maria      │ Lopez        │ maria.lopez@example.com     │ 09191234567  │ Gold            │ 2025-03-01 │ 2026-03-01 │ Active  │
│     5 │ John       │ Cruz         │ john.cruz@example.com       │ 09211234567  │ Silver          │ 2024-11-15 │ 2025-05-15 │ Expired │
│     6 │ Liza       │ Delos Santos │ liza.ds@example.com         │ 09301234567  │ Bronze          │ 2025-04-01 │ 2025-10-01 │ Active  │
│     7 │ Carlos     │ Manalo       │ carlos.manalo@example.com   │ 09181230000  │ Gold            │ 2025-01-15 │ 2026-01-15 │ Active  │
│     8 │ Grace      │ Fernandez    │ grace.fernandez@example.com │ 09351234567  │ Silver          │ 2025-02-01 │ 2025-08-01 │ Active  │
│     9 │ Paulo      │ Diaz         │ paulo.diaz@example.com      │ 09251234567  │ Bronze          │ 2024-07-01 │ 2025-07-01 │ Active  │
│    10 │ Sofia      │ Ramos        │ sofia.ramos@example.com     │ 09171235555  │ Gold            │ 2025-05-01 │ 2026-05-01 │ Active  │
├───────┴────────────┴──────────────┴─────────────────────────────┴──────────────┴─────────────────┴────────────┴────────────┴─────────┤
│ 10 rows                                                                                                                    9 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [13]:
duckdb.sql("SELECT * FROM 'data.csv' ")

┌───────┬────────────┬──────────────┬─────────────────────────────┬──────────────┬─────────────────┬────────────┬────────────┬─────────┐
│  id   │ first_name │  last_name   │            email            │ phone_number │ membership_type │ start_date │  end_date  │ status  │
│ int64 │  varchar   │   varchar    │           varchar           │   varchar    │     varchar     │    date    │    date    │ varchar │
├───────┼────────────┼──────────────┼─────────────────────────────┼──────────────┼─────────────────┼────────────┼────────────┼─────────┤
│     1 │ Francis    │ Ganapin      │ francis@example.com         │ 09171234567  │ Gold            │ 2025-01-01 │ 2025-12-31 │ Active  │
│     2 │ Ana        │ Santos       │ ana.santos@example.com      │ 09181234567  │ Silver          │ 2025-02-15 │ 2025-08-15 │ Active  │
│     3 │ Mark       │ Reyes        │ mark.reyes@example.com      │ 09201234567  │ Bronze          │ 2024-09-01 │ 2025-09-01 │ Active  │
│     4 │ Maria      │ Lopez        │ maria.lopez@example.com     │ 09191234567  │ Gold            │ 2025-03-01 │ 2026-03-01 │ Active  │
│     5 │ John       │ Cruz         │ john.cruz@example.com       │ 09211234567  │ Silver          │ 2024-11-15 │ 2025-05-15 │ Expired │
│     6 │ Liza       │ Delos Santos │ liza.ds@example.com         │ 09301234567  │ Bronze          │ 2025-04-01 │ 2025-10-01 │ Active  │
│     7 │ Carlos     │ Manalo       │ carlos.manalo@example.com   │ 09181230000  │ Gold            │ 2025-01-15 │ 2026-01-15 │ Active  │
│     8 │ Grace      │ Fernandez    │ grace.fernandez@example.com │ 09351234567  │ Silver          │ 2025-02-01 │ 2025-08-01 │ Active  │
│     9 │ Paulo      │ Diaz         │ paulo.diaz@example.com      │ 09251234567  │ Bronze          │ 2024-07-01 │ 2025-07-01 │ Active  │
│    10 │ Sofia      │ Ramos        │ sofia.ramos@example.com     │ 09171235555  │ Gold            │ 2025-05-01 │ 2026-05-01 │ Active  │
├───────┴────────────┴──────────────┴─────────────────────────────┴──────────────┴─────────────────┴────────────┴────────────┴─────────┤
│ 10 rows                                                                                                                    9 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [15]:
conn = duckdb.connect()


df = conn.execute("""
    SELECT status,Count(*) as total
                  FROM read_csv_auto('data.csv')
                  GROUP BY status

""").fetchdf()

print(df)

    status  total
0  Expired      1
1   Active      9

In [17]:
import pandas as pd

members = pd.read_csv('data.csv')

print(members['status'].value_counts())

status
Active     9
Expired    1
Name: count, dtype: int64

In [19]:
df = conn.execute("""
    SELECT * 
            FROM read_csv_auto("data2.csv")
""").fetchdf()


print(df)

   order_id customer         product     category  quantity  price       date  \
0         1  Francis          Laptop  Electronics         1  55000 2025-01-05
1         2      Ana           Phone  Electronics         2  25000 2025-01-07
2         3   Miguel  Protein Powder       Health         3   1200 2025-01-10
3         4    Sofia            Bike      Fitness         1  15000 2025-02-01
4         5    Carlo        Yoga Mat      Fitness         5    800 2025-02-02
5         6     Liza        Creatine       Health         2    900 2025-02-03
6         7    David      Headphones  Electronics         1   3000 2025-02-04
7         8    Maria       Treadmill      Fitness         1  45000 2025-02-05

      status
0  Delivered
1  Cancelled
2  Delivered
3  Delivered
4    Pending
5  Delivered
6  Delivered
7  Cancelled