In [1]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Market.csv')
df.head()

   Order_ID Product     Category  Amount        Date Region
0      1001  Laptop  Electronics    1200  2024-01-15  North
1      1002   Mouse  Electronics      25  2024-01-16  South
2      1003   Chair    Furniture     150  2024-01-17   East
3      1004    Desk    Furniture     300  2024-01-18   West
4      1005   Phone  Electronics     800  2024-01-19  North

In [3]:
total_revenue_per_region = df.groupby('Region')['Amount'].sum()

print(total_revenue_per_region)

Region
East     1850
North    2275
South     965
West      500
Name: Amount, dtype: int64

In [7]:
revenue_electronic = df[df['Category'] == 'Electronics']['Amount'].sum()
revenue_furniture = df[df['Category'] == 'Furniture']['Amount'].sum()

print('Revenue of electronic ', revenue_electronic)
print('Revenue of furniture  ', revenue_furniture)
print('Revenue diffrence was ', revenue_electronic - revenue_furniture)

Revenue of electronic  4400
Revenue of furniture   1190
Revenue diffrence was  3210

In [8]:
top_product_from_north_region = df[df['Region'] == 'North'].groupby('Product').sum().sort_values(by='Amount',ascending=False).head(1)

print(top_product_from_north_region)

         Order_ID     Category  Amount        Date Region
Product
Laptop       1001  Electronics    1200  2024-01-15  North

In [13]:
peak_days  = df['Amount'].max().groupby(df['Date']).idxmax()
print(peak_days)

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [ ]:
peak_days = df.groupby('Date')['Amount'].sum().idxmax()

print(peak_days)

2024-01-15

In [ ]:
daily_totals = df.groupby('Date')['Amount'].sum().idxmax()

In [20]:
daily_total = df.groupby('Date')['Amount'].sum()
peak_days = daily_total[daily_total == daily_total.max()]

print(peak_days)

Date
2024-01-15    1200
2024-01-25    1200
Name: Amount, dtype: int64

In [21]:
df['Transaction'] = df['Amount'].apply(lambda x: 'High' if x > 500 else 'Low')

In [22]:
print(df)

    Order_ID     Product     Category  Amount        Date Region Transaction
0       1001      Laptop  Electronics    1200  2024-01-15  North        High
1       1002       Mouse  Electronics      25  2024-01-16  South         Low
2       1003       Chair    Furniture     150  2024-01-17   East         Low
3       1004        Desk    Furniture     300  2024-01-18   West         Low
4       1005       Phone  Electronics     800  2024-01-19  North        High
5       1006  Headphones  Electronics     100  2024-01-20  South         Low
6       1007     Monitor  Electronics     200  2024-01-21   East         Low
7       1008    Keyboard  Electronics      50  2024-01-22   West         Low
8       1009       Table    Furniture     250  2024-01-23  North         Low
9       1010        Lamp    Furniture      40  2024-01-24  South         Low
10      1011      Laptop  Electronics    1200  2024-01-25   East        High
11      1012       Chair    Furniture     150  2024-01-26   West         Low
12      1013       Phone  Electronics     800  2024-01-27  South        High
13      1014       Mouse  Electronics      25  2024-01-28  North         Low
14      1015        Desk    Furniture     300  2024-01-29   East         Low

In [24]:
order_most = df['Product'].value_counts()
print(order_most)

Product
Laptop        2
Mouse         2
Chair         2
Desk          2
Phone         2
Headphones    1
Monitor       1
Keyboard      1
Table         1
Lamp          1
Name: count, dtype: int64

In [29]:
df['Date'] = pd.to_datetime(df['Date'])

df['Month'] = df['Date'].dt.month_name()

print(df)

    Order_ID     Product     Category  Amount       Date Region Transaction  \
0       1001      Laptop  Electronics    1200 2024-01-15  North        High
1       1002       Mouse  Electronics      25 2024-01-16  South         Low
2       1003       Chair    Furniture     150 2024-01-17   East         Low
3       1004        Desk    Furniture     300 2024-01-18   West         Low
4       1005       Phone  Electronics     800 2024-01-19  North        High
5       1006  Headphones  Electronics     100 2024-01-20  South         Low
6       1007     Monitor  Electronics     200 2024-01-21   East         Low
7       1008    Keyboard  Electronics      50 2024-01-22   West         Low
8       1009       Table    Furniture     250 2024-01-23  North         Low
9       1010        Lamp    Furniture      40 2024-01-24  South         Low
10      1011      Laptop  Electronics    1200 2024-01-25   East        High
11      1012       Chair    Furniture     150 2024-01-26   West         Low
12      1013       Phone  Electronics     800 2024-01-27  South        High
13      1014       Mouse  Electronics      25 2024-01-28  North         Low
14      1015        Desk    Furniture     300 2024-01-29   East         Low

      Month
0   January
1   January
2   January
3   January
4   January
5   January
6   January
7   January
8   January
9   January
10  January
11  January
12  January
13  January
14  January

In [30]:
underperforming_region = df.groupby('Region').sum().sort_value(by='Amount',ascending=False)
print(underperforming_region)

TypeError: datetime64 type does not support sum operations