In [1]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Market.csv')
df.head()

   Order_ID Product     Category  Amount        Date Region
0      1001  Laptop  Electronics    1200  2024-01-15  North
1      1002   Mouse  Electronics      25  2024-01-16  South
2      1003   Chair    Furniture     150  2024-01-17   East
3      1004    Desk    Furniture     300  2024-01-18   West
4      1005   Phone  Electronics     800  2024-01-19  North

In [3]:
total_revenue_per_region = df.groupby('Region')['Amount'].sum()

print(total_revenue_per_region)

Region
East     1850
North    2275
South     965
West      500
Name: Amount, dtype: int64

In [7]:
revenue_electronic = df[df['Category'] == 'Electronics']['Amount'].sum()
revenue_furniture = df[df['Category'] == 'Furniture']['Amount'].sum()

print('Revenue of electronic ', revenue_electronic)
print('Revenue of furniture  ', revenue_furniture)
print('Revenue diffrence was ', revenue_electronic - revenue_furniture)

Revenue of electronic  4400
Revenue of furniture   1190
Revenue diffrence was  3210

In [8]:
top_product_from_north_region = df[df['Region'] == 'North'].groupby('Product').sum().sort_values(by='Amount',ascending=False).head(1)

print(top_product_from_north_region)

         Order_ID     Category  Amount        Date Region
Product
Laptop       1001  Electronics    1200  2024-01-15  North

In [13]:
peak_days  = df['Amount'].max().groupby(df['Date']).idxmax()
print(peak_days)

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [ ]:
peak_days = df.groupby('Date')['Amount'].sum().idxmax()

print(peak_days)

2024-01-15

In [ ]:
daily_totals = df.groupby('Date')['Amount'].sum().idxmax()