In [61]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [62]:
df = pd.read_csv('datos2.csv')

In [63]:
df.head(3)

        Petsa                          Item     Uri  Halaga
0  2023-10-01  Panimulang Puhunan (Capital)    KITA    5000
1  2023-10-01      Bili ng Paninda (Stocks)  GASTOS    3500
2  2023-10-02         Benta ng Bigas (25kg)    KITA    1250

In [64]:
df.dtypes

Petsa     object
Item      object
Uri       object
Halaga     int64
dtype: object

In [65]:
kabuuang_kita = df[df['Uri'] == 'KITA']['Halaga'].sum()
print(f'Ang kabuuang Kita ay {kabuuang_kita} pesos')

Ang kabuuang Kita ay 9550 pesos

In [66]:
kabuuang_gatos = df[df['Uri'] == 'GASTOS']['Halaga'].sum()
print(f'Ang kabuuang Gastos ay {kabuuang_gatos} pesos')

Ang kabuuang Gastos ay 5700 pesos

# **Net Profit**: Kumita ka ba o nalugi? (Kita - Gastos)

In [67]:
kumitaba = kabuuang_kita - kabuuang_gatos

if kumitaba >= 0:
    print(f'hindi tayo nalugi {kumitaba}')
else:
    print(f'Nalugi tayo  {kumitaba}')

hindi tayo nalugi 3850

In [68]:
if kabuuang_kita > kabuuang_gatos:
    print(f'Kumita tayo {kumitaba}')
elif kabuuang_kita == kabuuang_gatos:
    print(f'Print break even tayo {kumitaba}')
else:
    print(f'Nalugi tayo {kumitaba}')

Kumita tayo 3850

In [69]:
df['Petsa'] = pd.to_datetime(df['Petsa'])

#convert first the date into string to date
df['Buwan'] = df['Petsa'].dt.month

df['Araw'] = df['Petsa'].dt.day_name()

In [70]:
df.head(3)

       Petsa                          Item     Uri  Halaga  Buwan    Araw
0 2023-10-01  Panimulang Puhunan (Capital)    KITA    5000     10  Sunday
1 2023-10-01      Bili ng Paninda (Stocks)  GASTOS    3500     10  Sunday
2 2023-10-02         Benta ng Bigas (25kg)    KITA    1250     10  Monday

In [71]:
pinaka  = df[df['Uri'] == 'KITA'].sort_values(by='Halaga',ascending=False)
pinaka

        Petsa                          Item   Uri  Halaga  Buwan      Araw
0  2023-10-01  Panimulang Puhunan (Capital)  KITA    5000     10    Sunday
2  2023-10-02         Benta ng Bigas (25kg)  KITA    1250     10    Monday
8  2023-10-05           Benta ng Softdrinks  KITA    1200     10  Thursday
5  2023-10-03         Benta ng Canned Goods  KITA     800     10   Tuesday
10 2023-10-06                 Benta ng Load  KITA     500     10    Friday
11 2023-10-07         Benta ng Bigas (10kg)  KITA     500     10  Saturday
3  2023-10-02              Benta ng Mantika  KITA     300     10    Monday

# **Best Day**: Anong _Petsa_ ang may pinakamalaking Kita?

In [72]:
#exclude the first one becouse it was our initial capital
print(pinaka.iloc[1:2])

       Petsa                   Item   Uri  Halaga  Buwan    Araw
2 2023-10-02  Benta ng Bigas (25kg)  KITA    1250     10  Monday

In [73]:
pinaka_gatos = df[df['Uri'] == 'GASTOS'].sort_values(by='Halaga',ascending=False)
print(pinaka_gatos.iloc[0:1])

       Petsa                      Item     Uri  Halaga  Buwan    Araw
1 2023-10-01  Bili ng Paninda (Stocks)  GASTOS    3500     10  Sunday

## The Questions (Mga Mahihirap na Tanong)

1. **Best Selling Day**: Anong **Araw** (Monday, Tuesday, Wednesday...) tayo pinakamalakas kumita?

In [81]:
df2 = df[(df['Item'] != "Panimulang Puhunan (Capital)") & (df['Uri'] == 'KITA')].groupby('Petsa')['Halaga'].sum()


 
df2 =df2.reset_index()


df2['Petsa'] = pd.to_datetime(df2['Petsa'])
#convert petsa to date name
df2['Araw'] = df2['Petsa'].dt.day_name()
df2[['Halaga','Araw']].head(1)

   Halaga    Araw
0    1550  Monday

# **Running Balance**: Magkano ang pera natin sa bulsa ("Cash on Hand") pagkatapos ng bawat transaction?

In [86]:
df.loc[df['Uri'] == 'GASTOS','Halaga'] *= -1

In [91]:
df['Total_Kita'] = df['Halaga'].cumsum()
df

,Petsa,Item,Uri,Halaga,Buwan,Araw,Total_Kita
0,2023-10-01,Panimulang Puhunan (Capital),KITA,5000,10,Sunday,5000
1,2023-10-01,Bili ng Paninda (Stocks),GASTOS,-3500,10,Sunday,1500
2,2023-10-02,Benta ng Bigas (25kg),KITA,1250,10,Monday,2750
3,2023-10-02,Benta ng Mantika,KITA,300,10,Monday,3050
4,2023-10-03,Bayad sa Kuryente,GASTOS,-1500,10,Tuesday,1550
5,2023-10-03,Benta ng Canned Goods,KITA,800,10,Tuesday,2350
6,2023-10-04,Pamasahe sa Palengke,GASTOS,-150,10,Wednesday,2200
7,2023-10-04,Bili ng Yelo/Ice,GASTOS,-50,10,Wednesday,2150
8,2023-10-05,Benta ng Softdrinks,KITA,1200,10,Thursday,3350
9,2023-10-05,Sahod ng Tindera,GASTOS,-500,10,Thursday,2850
10,2023-10-06,Benta ng Load,KITA,500,10,Friday,3350
11,2023-10-07,Benta ng Bigas (10kg),KITA,500,10,Saturday,3850

In [108]:
gumastos_ng_500 = df[df['Uri'] == 'GASTOS']['Halaga'] <= -500

true_gumastos_ng_500 = gumastos_ng_500[gumastos_ng_500].index


print(f'{gumastos_ng_500.sum()} Ang lagpas sa gastos na 500 ito ay id {true_gumastos_ng_500}')

3 Ang lagpas sa gastos na 500 ito ay id Index([1, 4, 9], dtype='int64')

**Hawaan ng Pera (Cash on Hand)**: Magkano lang ang _Actual Cash_ na hawak mo ngayon?

In [110]:
df3 = pd.read_csv('talaarawan_v2.csv')

In [111]:
df3.head(3)

        Petsa                     Item     Uri  Halaga Payment_Type Status
0  2023-11-01       Panimulang Puhunan    KITA   10000         CASH   PAID
1  2023-11-01  Bili ng Tindahan Stocks  GASTOS    7000         CASH   PAID
2  2023-11-02   Benta - Alak & Pulutan    KITA    1500         CASH   PAID

In [130]:
kita = df3[ (df3['Uri'] == 'KITA') & (df3['Payment_Type'] == 'CASH') & (df3['Status'] == 'PAID') ]['Halaga'].sum()
gastos =  df3[ (df3['Uri'] == 'GASTOS') & (df3['Payment_Type'] == 'CASH') & (df3['Status'] == 'PAID') ]['Halaga'].sum()

total_cash_in_hand = kita - gastos

print(f'Ang total cash natin in hand ay {total_cash_in_hand}')

Ang total cash natin in hand ay 4750

# **GCash Balance**: Magkano ang laman ng GCash wallet mo base sa records?

In [131]:
kita_g = df3[ (df3['Uri'] == 'KITA') & (df3['Payment_Type'] == 'GCASH') & (df3['Status'] == 'PAID') ]['Halaga'].sum()
gastos_g =  df3[ (df3['Uri'] == 'GASTOS') & (df3['Payment_Type'] == 'GCASH') & (df3['Status'] == 'PAID') ]['Halaga'].sum()

laman_gcash = kita_g - gastos_g

print(f'Ang total cash natin in GCASH ay {laman_gcash}')

Ang total cash natin in GCASH ay -3849

**Maniningil (Accounts Receivable)**: Magkano pa ang **Total Utang** na hindi pa nababayaran ng mga customer?

In [121]:
total_utang_ng_customer = df3[(df3['Uri'] == 'KITA') & (df3['Status'] == 'UTANG')]['Halaga'].sum()

print(f'{total_utang_ng_customer} ito ay kulang pa ng mga ating customer')

2000 ito ay kulang pa ng mga ating customer

# **Sales Performance**: Magkano ang TOTAL SALES mo (kasama ang Cash, GCash, at Utang)?

In [127]:
total_sales = df3[ (df3['Item'] != 'Panimulang Puhunan' )  & (df3['Uri'] == 'KITA')]['Halaga'].sum()
print(f'{total_sales} it ang total sales nating lahat')

6100 it ang total sales nating lahat