In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)
dates = pd.date_range(start='2023-01-01',periods=180,freq='D')
departments = ['Sales','Marketing','Finance','HR']
city = ['Manila','Caloocan','Marikina','Pasig']

In [3]:
data = {
    'date':np.random.choice(dates,1000),
    'employee_id':np.random.randint(1000,1100,1000),
    'department':np.random.choice(departments,1000),
    'city':np.random.choice(city,1000),
    'sale':np.random.normal(loc=2000,scale=500,size=1000),
    'bonus':np.random.normal(loc=200,scale=60,size=1000)
}

df = pd.DataFrame(data)

In [4]:
#Make sure we have Clean Dates
df['date'] = pd.to_datetime(df['date'])

In [5]:
#Sort values for later time-series work
df = df.sort_values('date').reset_index(drop=True)

print(df.head())

        date  employee_id department      city         sale       bonus
0 2023-01-01         1010    Finance  Caloocan  2636.029491  287.011558
1 2023-01-01         1099         HR     Pasig  3336.755485  213.590519
2 2023-01-01         1019  Marketing  Marikina  1529.677551  101.572319
3 2023-01-01         1071      Sales     Pasig  1822.596325  255.284851
4 2023-01-01         1093  Marketing     Pasig  2116.973726  190.938443

In [7]:
#set Multi index
df_multi = df.set_index(['city','department']).sort_index()
print(df_multi.head())

                          date  employee_id         sale       bonus
city     department
Caloocan Finance    2023-01-01         1010  2636.029491  287.011558
         Finance    2023-01-03         1032  2284.539630  268.324086
         Finance    2023-01-08         1065  1719.532393  198.176871
         Finance    2023-01-15         1094  1262.481401  242.161543
         Finance    2023-01-15         1030  2268.195686  246.546033

In [ ]:
#let's analyze average and bonus per region and department
grouped = df.groupby(['city','department']).agg({
    'sales':['mean','sum'],
    'bonus':'mean',
    'employee_id':'nunique'
}).reset_index()

grouped.columns = ['city','department','avg_sales','total_sales','']