In [9]:
import pandas as pd

df = pd.read_csv('real_estate_data.csv')



df['commission_earned'] = df['sale_price'] * df['commission_rate']


agent_performance = df.groupby(['agent_id','agent_name']).agg({
    'commission_earned':['sum','mean','count']
}).round(2)


agent_performance.columns = ['Total Commision','Avg Commision','Properties Sold']
agent_performance = agent_performance.sort_values('Total Commision',ascending=False)

agent_performance.head(10)

                          Total Commision  Avg Commision  Properties Sold
agent_id agent_name
A116     Thomas Anderson         176000.0       58666.67                3
A105     Lisa Wang               152500.0       50833.33                3
A107     Amanda Lee              128250.0       32062.50                4
A118     Victoria Chen           123375.0       61687.50                2
A108     James Park               85625.0       42812.50                2
A106     Robert Martinez          80000.0       26666.67                3
A102     Michael Chen             70000.0       23333.33                3
A101     Sarah Johnson            65625.0       32812.50                2
A104     David Kim                61650.0       20550.00                3
A117     Brian Lee                61000.0       30500.00                2

In [13]:
df.head(1)

,property_id,address,city,state,zip_code,property_type,bedrooms,bathrooms,square_feet,lot_size,...,walkability_score,property_tax,last_renovation_year,heating_type,cooling_type,flooring_type,view_type,neighborhood,commission_earned,discount_pct
0,P001,123 Oak Street,San Francisco,CA,94102,Single Family,3,2.0,1850,4500,...,85,15000,2018,Central,Central AC,Hardwood,City,Downtown,30000.0,4.0

In [14]:
df['discount_pct'] = ((df['listing_price'] - df['sale_price']) / df['listing_price']) * 100


property_analysis = df.groupby('property_type').agg({
    'discount_pct':'mean',
    'sale_price':'mean',
    'property_id':'count'
}).round(2)

property_analysis.columns = ['Avg Discount','Avg Sale Price','Properties Sold']
property_analysis = property_analysis.sort_values('Avg Discount',ascending=False)
property_analysis.head(10)

               Avg Discount  Avg Sale Price  Properties Sold
property_type
Single Family          2.72      1820600.00               25
Townhouse              2.32       793571.43                7
Condo                  2.27       723125.00                8

In [16]:
property_analysis.columns = ['Avg Discount%','Avg Sale Price','Count']
property_analysis = property_analysis.sort_values('Avg Discount%',ascending=False)
property_analysis.head(10)

               Avg Discount%  Avg Sale Price  Count
property_type
Single Family           2.72      1820600.00     25
Townhouse               2.32       793571.43      7
Condo                   2.27       723125.00      8

In [23]:
df['discount_amount'] = df['listing_price'] * df['sale_price']



df['market_time_category'] = pd.cut(
    df['days_on_market'],
    bins=[0,30,45,60,100],
    labels=['Quick (0-30)', 'Normal (31-45)', 
                                            'Slow (46-60)', 'Very Slow (60+)'])

time_analysis = df.groupby('market_time_category').agg({
    'discount_pct':'mean',
    'discount_amount':'mean',
    'property_id':'count'
}).round(2)


print(time_analysis)

correlation = df['days_on_market'].corr(df['discount_pct'])
print(f'Correlation between days on market and discount percentage: {correlation}')

                      discount_pct  discount_amount  property_id
market_time_category
Quick (0-30)                  2.17     5.107091e+11           11
Normal (31-45)                2.62     1.024260e+12           13
Slow (46-60)                  2.41     2.646953e+12            8
Very Slow (60+)               3.17     9.966562e+12            8
Correlation between days on market and discount percentage: 0.6251166148605917

C:\Users\francis\AppData\Local\Temp\ipykernel_28544\722728550.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  time_analysis = df.groupby('market_time_category').agg({

In [29]:
neighborhood_stats = df.groupby('neighborhood').agg({
    'sale_price':['sum','mean','count'],
    'commission_rate':'mean'
}).round(2)

neighborhood_stats

                    sale_price                  commission_rate
                           sum       mean count            mean
neighborhood
Allied Arts            2500000  2500000.0     1            0.02
Baywood                1320000  1320000.0     1            0.02
Berkeley Hills         1425000  1425000.0     1            0.02
Berryessa              1000000  1000000.0     1            0.02
Burlingame Hills       1685000  1685000.0     1            0.02
Central Park            855000   855000.0     1            0.02
Decoto                  950000   950000.0     1            0.02
Deer Valley             560000   560000.0     1            0.02
Downtown               1200000  1200000.0     1            0.02
Downtown Campbell       760000   760000.0     1            0.03
Downtown Pleasanton    1150000  1150000.0     1            0.02
Downtown SJ             545000   545000.0     1            0.03
Dublin Ranch            755000   755000.0     1            0.03
Gale Ranch             1825000  1825000.0     1            0.02
Ladera                 3550000  3550000.0     1            0.02
Los Gatos Hills        2875000  2875000.0     1            0.02
Marina                  695000   695000.0     1            0.02
Marina Bay              465000   465000.0     1            0.03
Mariner's Island        900000   900000.0     1            0.03
Mission Bay             850000   850000.0     1            0.03
Mission San Jose       1100000  1100000.0     1            0.02
Monta Vista            2375000  2375000.0     1            0.02
Newpark                 710000   710000.0     1            0.03
North Bayshore          925000   925000.0     1            0.02
Northgate              1600000  1600000.0     1            0.02
Old Palo Alto          2750000  2750000.0     1            0.02
Ralston                1345000  1345000.0     1            0.02
Redwood Shores         1095000  1095000.0     1            0.02
Rockridge               710000   710000.0     1            0.02
Saratoga Hills         2575000  2575000.0     1            0.02
South Livermore        1025000  1025000.0     1            0.02
Southgate               660000   660000.0     1            0.02
Sunnyhills             1050000  1050000.0     1            0.02
Todos Santos            615000   615000.0     1            0.02
Vineyards               900000   900000.0     1            0.02
West Atherton          4675000  4675000.0     1            0.02
West End               1195000  1195000.0     1            0.02
West Sunnyvale          800000   800000.0     1            0.03
White Oaks             1535000  1535000.0     1            0.02
Woodside Highlands     3350000  3350000.0     1            0.02

In [35]:
df['years_since_renovation'] = 2024 - df['last_renovation_year']

df['renovation_category'] = pd.cut(df['years_since_renovation'],
    bins=[-1,3,6,10,50],
    labels=['Recent(0-3 yrs)', 'Moderate(4-6)',
     'Older (7-10)','Very Old(10+yrs)'])


df['renovation_category'].head(1)

0    Moderate(4-6)
Name: renovation_category, dtype: category
Categories (4, object): ['Recent(0-3 yrs)' < 'Moderate(4-6)' < 'Older (7-10)' < 'Very Old(10+yrs)']

In [37]:
renovation_analysis = df.groupby('renovation_category').agg({
    'sale_price':'mean',
    'discount_pct':'mean',
    'days_on_market':'mean',
    'property_id':'count'
}).round(2)

C:\Users\francis\AppData\Local\Temp\ipykernel_28544\971511556.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  renovation_analysis = df.groupby('renovation_category').agg({

In [38]:
renovation_analysis

                     sale_price  discount_pct  days_on_market  property_id
renovation_category
Recent(0-3 yrs)       1228437.5          2.35           36.00           16
Moderate(4-6)         1678250.0          2.76           51.30           20
Older (7-10)           908750.0          2.44           40.75            4
Very Old(10+yrs)            NaN           NaN             NaN            0

In [41]:
renovation_analysis.columns = ['Avg Sale Price', 'Avg Discount %', 'Avg Days on Market', 'Count']
renovation_analysis

                     Avg Sale Price  Avg Discount %  Avg Days on Market  Count
renovation_category
Recent(0-3 yrs)           1228437.5            2.35               36.00     16
Moderate(4-6)             1678250.0            2.76               51.30     20
Older (7-10)               908750.0            2.44               40.75      4
Very Old(10+yrs)                NaN             NaN                 NaN      0

In [43]:
recent_reno = df[df['years_since_renovation'] < 3]['sale_price'].mean()
old_reno = df[df['years_since_renovation'] > 3]['sale_price'].mean()

print(f'Price Premium for Recent Renovation: ${recent_reno - old_reno:.2f}')

Price Premium for Recent Renovation: $-791875.00

In [45]:
df.head(1)

,property_id,address,city,state,zip_code,property_type,bedrooms,bathrooms,square_feet,lot_size,...,flooring_type,view_type,neighborhood,commission_earned,discount_pct,market_time_category,discount_amount,years_since_renovation,renovation_categoy,renovation_category
0,P001,123 Oak Street,San Francisco,CA,94102,Single Family,3,2.0,1850,4500,...,Hardwood,City,Downtown,30000.0,4.0,Normal (31-45),1500000000000,6,Moderate(4-6),Moderate(4-6)

In [53]:
agent_efficiency = df.groupby(['agent_id','agent_name']).agg({
    'days_on_market':['mean','median'],
    'sale_price':'mean',
    'property_id':'count',
    'commission_earned':'sum',
    
}).round(2)

agent_efficiency.columns = ['mean_days_on_market','median_days_on_market','mean_sale_price','property_count','total_commission_earned']



agent_efficiency['efficiency_score'] = (
    agent_efficiency['property_count'] / agent_efficiency['mean_days_on_market'] * 100
).round(2)



agent_efficiency = agent_efficiency.sort_values('efficiency_score',ascending=False)
print('Agent Efficiency Score')
print(agent_efficiency.head())

Agent Efficiency Score
                          mean_days_on_market  median_days_on_market  \
agent_id agent_name
A104     David Kim                      23.67                   25.0
A102     Michael Chen                   31.00                   30.0
A107     Amanda Lee                     44.75                   47.5
A103     Emily Rodriguez                23.50                   23.5
A106     Robert Martinez                39.33                   38.0

                          mean_sale_price  property_count  \
agent_id agent_name
A104     David Kim              685000.00               3
A102     Michael Chen           876666.67               3
A107     Amanda Lee            1237500.00               4
A103     Emily Rodriguez        685000.00               2
A106     Robert Martinez       1066666.67               3

                          total_commission_earned  efficiency_score
agent_id agent_name
A104     David Kim                        61650.0             12.67
A102     Michael Chen                     70000.0              9.68
A107     Amanda Lee                      128250.0              8.94
A103     Emily Rodriguez                  34250.0              8.51
A106     Robert Martinez                  80000.0              7.63

In [55]:
df['price_per_sqft'] = (df['sale_price'] / df['square_feet']).round(2)

df['price_per_sqft'].head()

0    648.65
1    708.33
2    430.30
3    593.75
4    726.67
Name: price_per_sqft, dtype: float64

In [59]:
df['size_category'] = pd.cut(df['square_feet'],
                    bins=[0,1200,1800,2500,5000],
                    labels=['small','medium','large','extra_large'],
                    include_lowest=True
)

size_analysis = df.groupby('size_category').agg({
    'price_per_sqft':'mean',
    'sale_price':'mean',
    'square_feet':'mean',
    'days_on_market':'mean',
    'property_id':'count'
}).round(2)

size_analysis.columns = ['Avg Price/SqFt','Avg Sale Price','Avg Square Feet',
'Avg Square Feet','Avg Days on Market']

print('Pricing Analysis by Size Category')
print(size_analysis)



detailed_analysis = (
    df.groupby(['property_type','size_category'])[
        ['price_per_sqft','sale_price','days_on_market']
    ]
    .mean()
    .round(2)
)



print('nPrice per SqFt by Type and Size:')
print(detailed_analysis.unstack())

C:\Users\francis\AppData\Local\Temp\ipykernel_28544\2904396060.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_analysis = df.groupby('size_category').agg({
C:\Users\francis\AppData\Local\Temp\ipykernel_28544\2904396060.py:24: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['property_type','size_category'])[

Pricing Analysis by Size Category
               Avg Price/SqFt  Avg Sale Price  Avg Square Feet  \
size_category
small                  685.97       718571.43          1042.86
medium                 553.46       865416.67          1562.50
large                  632.29      1322083.33          2087.50
extra_large            841.13      2841666.67          3322.22

               Avg Square Feet  Avg Days on Market
size_category
small                    25.86                   7
medium                   33.08                  12
large                    46.42                  12
extra_large              70.00                   9
nPrice per SqFt by Type and Size:
              price_per_sqft                             sale_price  \
size_category          small  medium   large extra_large      small
property_type
Condo                 685.97  604.00     NaN         NaN  718571.43
Single Family            NaN  582.25  632.29      841.13        NaN
Townhouse                NaN  529.80     NaN         NaN        NaN

                                                  days_on_market         \
size_category      medium       large extra_large          small medium
property_type
Condo           755000.00         NaN         NaN          25.86  32.00
Single Family  1018750.00  1322083.33  2841666.67            NaN  42.50
Townhouse       793571.43         NaN         NaN            NaN  27.86


size_category  large extra_large
property_type
Condo            NaN         NaN
Single Family  46.42        70.0
Townhouse        NaN         NaN