
- **products** - Items sold in the store
- **customers** - People who buy products
- **orders** - Records of purchases

In [ ]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('store.db')

# Helper function to run SQL queries
def run_sql(query):
    return pd.read_sql_query(query, conn)

print("Connected to database!")

Get the table

In [ ]:
# View the products table
run_sql("SELECT * FROM products")

In [ ]:
# View the customers table
run_sql("SELECT * FROM customers")

In [ ]:
# View the orders table
run_sql("SELECT * FROM orders")

## Problem 1: SELECT All
**Question:** Get all columns from the `products` table.

üí° **Hint:** Use `SELECT * FROM table_name`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

---
## Problem 2: SELECT Specific Columns
**Question:** Get only the `product_name` and `price` from the products table.

üí° **Hint:** List column names separated by commas

In [ ]:
#Write your answer here:
run_sql("""

""")

---
## Problem 3: WHERE Clause
**Question:** Find all products in the 'Electronics' category.

**Hint:** Use `WHERE column = 'value'`

In [ ]:
# Write your answer here:
run_sql("""

""")

---
## Problem 4: Comparison Operators
**Question:** Find all products with price greater than $100.

**Hint:** Use `WHERE price > 100`

In [ ]:
# Write your answer here:
run_sql("""

""")

---
## Problem 5: ORDER BY
**Question:** Get all products ordered by price from highest to lowest.

**Hint:** Use `ORDER BY column DESC`

In [ ]:
#Write your answer here:
run_sql("""

""")

---
## Problem 6: LIMIT
**Question:** Get the top 3 most expensive products.

**Hint:** Combine `ORDER BY` and `LIMIT`

In [ ]:
#Write your answer here:
run_sql("""

""")

---
## Problem 7: COUNT
**Question:** How many products are in each category?

**Hint:** Use `COUNT(*)` with `GROUP BY`

In [ ]:
#Write your answer here:
run_sql("""

""")

---
## Problem 8: AVG (Average)
**Question:** What is the average price of all products?

üí° **Hint:** Use `AVG(column)`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

---
## Problem 9: SUM
**Question:** What is the total stock quantity for all Electronics products?

üí° **Hint:** Use `SUM(column)` with `WHERE`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

---
## Problem 10: JOIN (Combining Tables)
**Question:** Show all orders with customer first_name, last_name, and product_name.

üí° **Hint:** Use `JOIN table ON condition`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

---
## Problem 11: AND / OR
**Question:** Find products that are in 'Electronics' category AND have a price less than $100.

üí° **Hint:** Use `WHERE condition1 AND condition2`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

---
## Problem 12: LIKE (Pattern Matching)
**Question:** Find all customers whose email contains 'email.com'.

üí° **Hint:** Use `LIKE '%pattern%'` (% means any characters)

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")