# üéì SQL Tutorial for Beginners

Welcome! This notebook will teach you the basics of SQL using a simple store database.

## üìä Database Overview

We have 3 tables:
- **products** - Items sold in the store
- **customers** - People who buy products
- **orders** - Records of purchases

---

## Setup - Run this first! ‚ö°

In [ ]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('store.db')

# Helper function to run SQL queries
def run_sql(query):
    return pd.read_sql_query(query, conn)

print("‚úÖ Connected to database!")

## üëÄ Let's Look at Our Tables First

In [ ]:
# View the products table
run_sql("SELECT * FROM products")

In [ ]:
# View the customers table
run_sql("SELECT * FROM customers")

In [ ]:
# View the orders table
run_sql("SELECT * FROM orders")

---
# üìù SQL Practice Problems

Try to solve each problem yourself first, then check the answer below!

---

## Problem 1: SELECT All
**Question:** Get all columns from the `products` table.

üí° **Hint:** Use `SELECT * FROM table_name`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 1

In [ ]:
# Answer:
run_sql("""
SELECT * FROM products
""")

# Expected: 12 rows with columns: product_id, product_name, category, price, stock_quantity

---
## Problem 2: SELECT Specific Columns
**Question:** Get only the `product_name` and `price` from the products table.

üí° **Hint:** List column names separated by commas

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 2

In [ ]:
# Answer:
run_sql("""
SELECT product_name, price FROM products
""")

# Expected: 12 rows with only product_name and price columns

---
## Problem 3: WHERE Clause
**Question:** Find all products in the 'Electronics' category.

üí° **Hint:** Use `WHERE column = 'value'`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 3

In [ ]:
# Answer:
run_sql("""
SELECT * FROM products
WHERE category = 'Electronics'
""")

# Expected: 5 rows (Laptop, Smartphone, Headphones, Desk Lamp, Gaming Mouse)

---
## Problem 4: Comparison Operators
**Question:** Find all products with price greater than $100.

üí° **Hint:** Use `WHERE price > 100`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 4

In [ ]:
# Answer:
run_sql("""
SELECT * FROM products
WHERE price > 100
""")

# Expected: 6 rows (Laptop, Smartphone, Headphones, Coffee Table, Office Chair, Bookshelf)

---
## Problem 5: ORDER BY
**Question:** Get all products ordered by price from highest to lowest.

üí° **Hint:** Use `ORDER BY column DESC`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 5

In [ ]:
# Answer:
run_sql("""
SELECT * FROM products
ORDER BY price DESC
""")

# Expected: 12 rows starting with Laptop (999.99) and ending with Water Bottle (19.99)

---
## Problem 6: LIMIT
**Question:** Get the top 3 most expensive products.

üí° **Hint:** Combine `ORDER BY` and `LIMIT`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 6

In [ ]:
# Answer:
run_sql("""
SELECT * FROM products
ORDER BY price DESC
LIMIT 3
""")

# Expected: 3 rows - Laptop (999.99), Smartphone (699.99), Coffee Table (249.99)

---
## Problem 7: COUNT
**Question:** How many products are in each category?

üí° **Hint:** Use `COUNT(*)` with `GROUP BY`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 7

In [ ]:
# Answer:
run_sql("""
SELECT category, COUNT(*) as count
FROM products
GROUP BY category
""")

# Expected: Electronics: 5, Furniture: 3, Sports: 4

---
## Problem 8: AVG (Average)
**Question:** What is the average price of all products?

üí° **Hint:** Use `AVG(column)`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 8

In [ ]:
# Answer:
run_sql("""
SELECT AVG(price) as average_price
FROM products
""")

# Expected: ~244.98

---
## Problem 9: SUM
**Question:** What is the total stock quantity for all Electronics products?

üí° **Hint:** Use `SUM(column)` with `WHERE`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 9

In [ ]:
# Answer:
run_sql("""
SELECT SUM(stock_quantity) as total_electronics_stock
FROM products
WHERE category = 'Electronics'
""")

# Expected: 515

---
## Problem 10: JOIN (Combining Tables)
**Question:** Show all orders with customer first_name, last_name, and product_name.

üí° **Hint:** Use `JOIN table ON condition`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 10

In [ ]:
# Answer:
run_sql("""
SELECT o.order_id, c.first_name, c.last_name, p.product_name, o.quantity, o.order_date
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN products p ON o.product_id = p.product_id
""")

# Expected: 15 rows with customer names and product names for each order

---
## Problem 11: AND / OR
**Question:** Find products that are in 'Electronics' category AND have a price less than $100.

üí° **Hint:** Use `WHERE condition1 AND condition2`

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 11

In [ ]:
# Answer:
run_sql("""
SELECT * FROM products
WHERE category = 'Electronics' AND price < 100
""")

# Expected: 2 rows - Desk Lamp (49.99), Gaming Mouse (79.99)

---
## Problem 12: LIKE (Pattern Matching)
**Question:** Find all customers whose email contains 'email.com'.

üí° **Hint:** Use `LIKE '%pattern%'` (% means any characters)

In [ ]:
# ‚úèÔ∏è Write your answer here:
run_sql("""

""")

### ‚úÖ Answer 12

In [ ]:
# Answer:
run_sql("""
SELECT * FROM customers
WHERE email LIKE '%email.com'
""")

# Expected: 8 rows - all customers

---
# üéâ Congratulations!

You've completed the SQL basics tutorial! Here's what you learned:

| Command | What it does |
|---------|-------------|
| `SELECT` | Choose columns |
| `FROM` | Choose table |
| `WHERE` | Filter rows |
| `ORDER BY` | Sort results |
| `LIMIT` | Limit number of rows |
| `COUNT` | Count rows |
| `SUM` | Add up values |
| `AVG` | Calculate average |
| `GROUP BY` | Group results |
| `JOIN` | Combine tables |
| `AND/OR` | Multiple conditions |
| `LIKE` | Pattern matching |

---

In [ ]:
# Close the database connection when done
conn.close()
print("üëã Database connection closed!")